<trmrk-app-page
  [trmrkAppBarTitle]="'Turmerik File Manager'"
  [trmrkAppBarLeadingTemplate]="appMenuIconBtn"
  [trmrkOptionsMenuTemplate]="options"
  ><div class="trmrk-app-panel">
    <trmrk-horiz-strip
      [trmrkCssClass]="['trmrk-heading-horiz-strip']"
      [trmrkUseContentInsteadOfTextRow]="true"
      ><h2>Recent Items</h2></trmrk-horiz-strip
    >
    <div class="trmrk-panel-body trmrk-scrollable trmrk-scrollable-y"></div></div
></trmrk-app-page>

<ng-template #appMenuIconBtn>
  <button
    mat-icon-button
    class="trmrk-icon-btn"
    #appMenuTrigger="matMenuTrigger"
    [matMenuTriggerFor]="null"
  >
    <mat-icon class="trmrk-icon">menu</mat-icon>
  </button>
  <mat-menu class="trmrk-menu" dense #appMenu>
    <div mat-menu-item class="trmrk-menu-item trmrk-no-pad">
      <trmrk-app-link [trmrkRouterLink]="'/app/favorites'" [trmrkCssClass]="'trmrk-icon-link'">
        <button mat-button class="trmrk-btn">
          <mat-icon class="trmrk-icon">star</mat-icon>Favorites
        </button>
      </trmrk-app-link>
    </div>
    <div mat-menu-item class="trmrk-menu-item trmrk-no-pad">
      <trmrk-app-link [trmrkRouterLink]="'/app/folder'" [trmrkCssClass]="'trmrk-icon-link'">
        <button mat-button class="trmrk-btn">
          <mat-icon class="trmrk-icon">folder_eye</mat-icon>Explore
        </button>
      </trmrk-app-link>
    </div>
  </mat-menu>
</ng-template>

<ng-template #options>
  <div mat-menu-item class="trmrk-menu-item trmrk-no-pad">
    <trmrk-app-link
      [trmrkRouterLink]="'/app/infinite-height-panel-test'"
      [trmrkCssClass]="'trmrk-icon-link'"
    >
      <button mat-button class="trmrk-btn">Infinite height panel test</button>
    </trmrk-app-link>
  </div></ng-template
>
