html {
  font-size: 20px;
}

/* @media (min-width: 768px) {
  html {
    font-size: 16px;
  }
} */

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

pre {
    font-family: Consolas;
}

.trmrk-hidden,
.trmrk-hidden.trmrk-icon {
    display: none;
}

.trmrk-rotate-90deg {
    transform: rotate(90deg);
}

.trmrk-rotate-45deg {
    transform: rotate(45deg);
}

.trmrk-is-invalid {
    border-block-color: red;
}

.trmrk-drive-folder-view {
    position: relative;
}

    .trmrk-drive-folder-view.trmrk-edit-mode {
        background-color: #F8F8F8;
    }

.trmrk-drive-folder-view-header > h6::-webkit-scrollbar,
.trmrk-drive-folder-view-sticky-header > h6::-webkit-scrollbar {
    width: 1em;
}

.trmrk-drive-folder-view-header > h6::-webkit-scrollbar-track,
.trmrk-drive-folder-view-sticky-header > h6::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

.trmrk-drive-folder-view-header > h6::-webkit-scrollbar-thumb,
.trmrk-drive-folder-view-sticky-header > h6::-webkit-scrollbar-thumb {
    background-color: #604020;
    outline: 1px solid #604020;
}

.trmrk-drive-folder-view-header > h6,
.trmrk-drive-folder-view-sticky-header > h6 {
    display: block;
    line-height: 2rem;
    font-weight: bold;
}

    .trmrk-drive-folder-view-header > h6.trmrk-expanded,
    .trmrk-drive-folder-view-sticky-header > h6.trmrk-expanded {
        word-wrap: anywhere;
        word-break: break-all;
    }

    .trmrk-drive-folder-view-header > h6.trmrk-collapsed,
    .trmrk-drive-folder-view-sticky-header > h6.trmrk-collapsed {
        word-break: keep-all;
        white-space: nowrap;
        height: 3.3rem;
        overflow-x: scroll;
    }

.trmrk-drive-folder-view-header > .trmrk-icons-row,
.trmrk-drive-folder-view-sticky-header > .trmrk-icons-row {
    height: 2.4rem;
    min-height: 2.4rem;
}

.trmrk-drive-folder-view-header,
.trmrk-drive-folder-view-sticky-header {
    background-color: #302010;
    color: #FFD0A0;
    line-height: 1rem;
    padding: 0.2rem 0.5rem 0.5rem 0.5rem;
    border-radius: 0.2rem;
    margin-bottom: 1rem;
}

.trmrk-drive-folder-view-sticky-header {
    z-index: 10;
    position: fixed;
    top: 0px;
    width: 100%;
}

    .trmrk-drive-folder-view-header > .trmrk-icons-row > .trmrk-icon,
    .trmrk-drive-folder-view-sticky-header > .trmrk-icons-row > .trmrk-icon,
    .trmrk-drive-folder-view-header > h6 > .trmrk-icon,
    .trmrk-drive-folder-view-sticky-header > h6 > .trmrk-icon {
        font-size: 1.7rem;
        vertical-align: bottom;
        margin-right: 0.5rem;
        margin-left: 0.5rem;
    }

        .trmrk-drive-folder-view-header > .trmrk-icons-row > .trmrk-icon,
        .trmrk-drive-folder-view-sticky-header > .trmrk-icons-row > .trmrk-icon {
        }

    .trmrk-drive-folder-view-header > .trmrk-icons-row:first-child,
    .trmrk-drive-folder-view-sticky-header > .trmrk-icons-row:first-child {
        margin-top: 1rem;
    }

    .trmrk-drive-folder-view-header > .trmrk-icons-row > .trmrk-icon:first-child,
    .trmrk-drive-folder-view-sticky-header > .trmrk-icons-row > .trmrk-icon:first-child {
    }

    .trmrk-drive-folder-view-header > .trmrk-icons-row > .trmrk-plus-icon,
    .trmrk-drive-folder-view-sticky-header > .trmrk-icons-row > .trmrk-plus-icon {
        position: relative;
        top: 0.1rem;
        font-size: 3rem;
        vertical-align: top;
        margin-left: 0;
    }

@media (min-width: 576px) {
    .trmrk-drive-folder-view-sticky-header {
        width: 540px;
    }
}

@media (min-width: 768px) {
    .trmrk-drive-folder-view-sticky-header {
        width: 720px;
    }
}

@media (min-width: 992px) {
    .trmrk-drive-folder-view-sticky-header {
        width: 960px;
    }
}

@media (min-width: 1200px) {
    .trmrk-drive-folder-view-sticky-header {
        width: 1140px;
    }
}

@media (min-width: 1400px) {
    .trmrk-drive-folder-view-sticky-header {
        width: 1320px;
    }
}

.trmrk-drive-items-grid {
    height: 100vh;
    overflow-y: scroll;
}

    .trmrk-drive-items-grid::-webkit-scrollbar,
    .trmrk-drive-items-grid::-webkit-scrollbar {
        width: 1em;
    }

    .trmrk-drive-items-grid::-webkit-scrollbar-track,
    .trmrk-drive-items-grid::-webkit-scrollbar-track {
        box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    }

    .trmrk-drive-items-grid::-webkit-scrollbar-thumb,
    .trmrk-drive-items-grid::-webkit-scrollbar-thumb {
        background-color: #302010;
        outline: 1px solid #302010;
    }

    .trmrk-drive-items-grid tr.trmrk-waiting {
        background-color: #E0E0E0;
    }

.trmrk-grid-icon-cell,
.trmrk-grid-checkbox-cell {
    width: 1rem;
    cursor: grabbing;
}

.trmrk-drive-folder-view .trmrk-drive-items-grid .trmrk-grid-checkbox-cell {
    padding-top: 0.6rem;
}

    .trmrk-grid-checkbox-cell > input[type=checkbox] {
        width: 1em;
        height: 1em;
    }

.trmrk-times-icon,
.trmrk-plus-icon {
    display: inline-flex;
    font-size: 2em;
    font-weight: bold;
    cursor: grabbing;
}

.trmrk-times-icon {
    vertical-align: top;
    line-height: 1rem;
    padding-top: 0.1rem;
}

.trmrk-icon.oi.oi-arrow-circle-right {
    vertical-align: middle;
}
    
.trmrk-icon {
    display: inline-flex;
    cursor: grabbing;
}

.trmrk-icon.oi.oi-trash {
    padding-top: 0.4rem;
}

.trmrk-grid-main-edit-cell {
    cursor: grabbing;
}

    .trmrk-grid-main-edit-cell input[type=text] {
        font-family: Consolas, monaco, monospace;
        font-weight: bold;
        width: 100%;
    }

.trmrk-grid-main-cell > .trmrk-drive-item-name {
    width: 100%;
    display: inline-flex;
    font-weight: bold;
    cursor: grabbing;
    word-wrap: anywhere;
    word-break: break-all;
}

tr.trmrk-checked {
    background-color: #FFF0E0;
}

tr.trmrk-pressed {
    background-color: #E0F0FF;
}

tr.trmrk-checked.trmrk-pressed {
    background-color: #F0F0F0;
}