html {
  font-size: 20px;
}

/* @media (min-width: 768px) {
  html {
    font-size: 16px;
  }
} */

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.trmrk-rotate-90deg {
    transform: rotate(90deg);
}

.trmrk-rotate-45deg {
    transform: rotate(45deg);
}

.trmrk-drive-folder-view {
    position: relative;
}

    .trmrk-drive-folder-view.trmrk-edit-mode {
        background-color: #F8F8F8;
    }


.trmrk-drive-folder-view-header > label,
.trmrk-drive-folder-view-sticky-header > label {
    display: block;
    line-height: 2rem;
}

.trmrk-drive-folder-view-header,
.trmrk-drive-folder-view-sticky-header {
    background-color: bisque;
    line-height: 1rem;
    padding: 0.2rem 0.5rem 0.5rem 0.5rem;
    border-radius: 0.2rem;
}

.trmrk-drive-folder-view-sticky-header {
    z-index: 10;
    position: fixed;
    top: 0px;
    width: 100%;
}

@media (min-width: 576px) {
    .trmrk-drive-folder-view-sticky-header {
        width: 540px;
    }
}

@media (min-width: 768px) {
    .trmrk-drive-folder-view-sticky-header {
        width: 720px;
    }
}

@media (min-width: 992px) {
    .trmrk-drive-folder-view-sticky-header {
        width: 960px;
    }
}

@media (min-width: 1200px) {
    .trmrk-drive-folder-view-sticky-header {
        width: 1140px;
    }
}

@media (min-width: 1400px) {
    .trmrk-drive-folder-view-sticky-header {
        width: 1320px;
    }
}

.trmrk-drive-items-grid {
    height: 100vh;
    overflow-y: scroll;
}

.trmrk-grid-icon-cell,
.trmrk-grid-checkbox-cell {
    width: 1rem;
    cursor: grabbing;
}

.trmrk-drive-folder-view .trmrk-drive-items-grid .trmrk-grid-checkbox-cell {
    padding-top: 0.6rem;
}

    .trmrk-grid-checkbox-cell > input[type=checkbox] {
        width: 1em;
        height: 1em;
    }

.trmrk-times-icon,
.trmrk-plus-icon {
    display: inline-flex;
    font-size: 2em;
    font-weight: bold;
    cursor: grabbing;
}

.trmrk-times-icon {
    vertical-align: top;
    line-height: 1rem;
    padding-top: 0.1rem;
}

.trmrk-icon.oi.oi-arrow-circle-right {
    vertical-align: middle;
}

.trmrk-drive-folder-view-header > .trmrk-plus-icon,
.trmrk-drive-folder-view-sticky-header > .trmrk-plus-icon {
    position: relative;
    top: 0.1rem;
}

.trmrk-icon {
    display: inline-flex;
    cursor: grabbing;
}

.trmrk-grid-main-edit-cell {
    cursor: grabbing;
}

    .trmrk-grid-main-edit-cell input[type=text] {
        font-family: Consolas, monaco, monospace;
        font-weight: bold;
        width: 100%;
    }

    .trmrk-grid-main-cell > .trmrk-drive-item-name {
        width: 100%;
        display: inline-flex;
        font-weight: bold;
        cursor: grabbing;
    }

.trmrk-checked {
    background-color: #FFF0E0;
}

.trmrk-pressed {
    background-color: #E0F0FF;
}

.trmrk-checked.trmrk-pressed {
    background-color: #F0F0F0;
}