@using Newtonsoft.Json
@using Turmerik.Core.TextSerialization
@using Turmerik.Notes.BlazorApp.Services
@using Turmerik.Notes.Core
@inherits LayoutComponentBase

@inject NotesBlazorAppModule AppModule;

@code {
    private IJSObjectReference appModule;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        appModule = await AppModule.GetAppModule();

        if (firstRender)
        {
            var json = JsonConvert.SerializeObject(AppModule.AppConfig);
            json = JsonH.EscapeQuotes(json);

            await AppModule.JS.InvokeVoidAsync("eval", $"window.trmrkApp.init(\"{json}\");");
        }
    }

    private async void OnInitializedAsync()
    {
    }
}

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <a href="https://learn.microsoft.com/aspnet/core/" target="_blank">About</a>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
