@using Newtonsoft.Json
@using Turmerik.Core.TextSerialization
@using Turmerik.Notes.BlazorApp.Services
@using Turmerik.Notes.Core
@inherits LayoutComponentBase

@inject NotesBlazorAppModule AppModule;

@code {
    private IJSObjectReference appModule;

    protected override async Task OnInitializedAsync()
    {
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            appModule = await AppModule.GetAppModule();

            var json = JsonConvert.SerializeObject(AppModule.AppConfig);
            // json = JsonH.EscapeQuotes(json);

            await appModule.InvokeVoidAsync("turmerik.trmrkApp.init", json);
        }
    }
}

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <a href="https://learn.microsoft.com/aspnet/core/" target="_blank">About</a>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
