:root {
  --trmrk-loading-el-dot-pulse_color: #9880ff;

  --trmrk-scrollable-track_color_dark: #222;
  --trmrk-scrollable-thumb_color_dark: #444;
  --trmrk-scrollable-track-hover_color_dark: #333;
  --trmrk-scrollable-thumb-hover_color_dark: #555;

  --trmrk-scrollable-track_color_light: #eee;
  --trmrk-scrollable-thumb_color_light: #ccc;
  --trmrk-scrollable-track-hover_color_light: #ddd;
  --trmrk-scrollable-thumb-hover_color_light: #bbb;
}
