@use "tailwindcss" as tw;

@use "./global-variables.module.scss" as trmrk-vars;
@use "./global-mixins.module.scss" as trmrk-mixins;

@theme {
  /* This tells v4 to use the .dark class selector strategy */
  --dark-mode: selector; 
}

@custom-variant dark (&:where(.dark, .dark *));

html, body {
  height: 100vh;
  margin: 0;
  padding: 0;
  position: relative;
}

@layer base {
  h1, h2, h3, h4, h5, h6 {
    font-size: revert;
    font-weight: revert;
  }
}

body, input, select, option {
  font-family: var(--trmrk-default-font-family);
  font-size: var(--trmrk-default-font-size);
}

.light body, input, select, option, .trmrk-app-body.trmrk-app-body {
  background: var(--trmrk-default-back-color-light);
  color: var(--trmrk-default-fore-color-light);
}

.dark body, input, select, option, .trmrk-app-body.trmrk-app-body {
  background: var(--trmrk-default-back-color-dark);
  color: var(--trmrk-default-fore-color-dark);
}

.light {
  * {
    @include trmrk-mixins.scrollable-light();
  }
}

.dark {
  * {
    @include trmrk-mixins.scrollable-dark();
  }
}

.light {
  .trmrk-app-layout {
    background-color: var(--trmrk-tool-bar_back-color_light);
    color: var(--trmrk-tool-bar_fore-color_light);
  }
}

.dark {
  .trmrk-app-layout {
    background-color: var(--trmrk-tool-bar_back-color_dark);
    color: var(--trmrk-tool-bar_fore-color_dark);
  }
}

.trmrk-app-layout {
  display: flex;
  flex-direction: column;
  height: 100%;
  position: relative;
  flex: 1 0 100%;
}

.trmrk-app-header, .trmrk-app-footer {
  display: flex;
  flex-direction: column;
  position: relative;
  padding: 1px;
}

.trmrk-app-footer {
  margin-top: auto;
}

.trmrk-app-body {
  display: flex;
  position: relative;
  flex-grow: 1;
}

.trmrk-horiz-strip {
  display: flex;
  min-height: 40px;
  margin: 1px;
}
