:root {
  --trmrk-default-font-family: Arial, "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  --trmrk-default-font-size: 13px;

  --trmrk-default-back-color-light: #fff;
  --trmrk-default-fore-color-light: #333;

  --trmrk-default-back-color-dark: #000;
  --trmrk-default-fore-color-dark: #ddd;
}
