<trmrk-app-page [trmrkAppBarTitle]="'Number editors test'"
  ><trmrk-horiz-strip
    [trmrkCssClass]="['trmrk-has-border-x2 trmrk-top-horiz-strip']"
    [trmrkUseContentInsteadOfTextRow]="true"
  >
  </trmrk-horiz-strip>
  <div [ngClass]="['trmrk-page-body trmrk-scrollable trmrk-scrollable-y']">
    <trmrk-mat-number-input
      [trmrkLabel]="'-1000000-1000000 with step 000.1 (required)'"
      [trmrkValue]="matNumberInput1Value"
      [trmrkMin]="-1000000"
      [trmrkMax]="1000000"
      [trmrkStep]="0.001"
      [trmrkRequired]="true"
    ></trmrk-mat-number-input>
    <trmrk-mat-number-input
      [trmrkLabel]="'-1000000-1000000 with step 000.1 (required)'"
      [trmrkValue]="matNumberInput2Value"
      [trmrkMin]="-1000000"
      [trmrkMax]="1000000"
      [trmrkStep]="0.001"
      [trmrkRequired]="true"
    ></trmrk-mat-number-input>
  </div>
  <trmrk-horiz-strip
    [trmrkCssClass]="['trmrk-has-border-x2 trmrk-bottom-horiz-strip']"
    [trmrkUseContentInsteadOfTextRow]="true"
  ></trmrk-horiz-strip
></trmrk-app-page>
