<trmrk-app-page [trmrkAppBarTitle]="'Number editors test'"
  ><trmrk-horiz-strip
    [trmrkCssClass]="['trmrk-has-border-x2 trmrk-top-horiz-strip']"
    [trmrkUseContentInsteadOfTextRow]="true"
  >
  </trmrk-horiz-strip>
  <div [ngClass]="['trmrk-page-body trmrk-scrollable trmrk-scrollable-y']">
    <div
      [ngStyle]="{
        boxSizing: 'border-box',
        display: 'flex',
        flexDirection: 'column',
        paddingTop: '10px',
        paddingRight: '3px'
      }"
    >
      <trmrk-mat-number-input
        [trmrkLabel]="'-1000000-1000000 with step 000.1 (required)'"
        [trmrkValue]="matNumberInput1Value"
        [trmrkMin]="-1000000"
        [trmrkMax]="1000000"
        [trmrkStep]="0.001"
        [trmrkRequired]="true"
        (trmrkValueChanged)="matNumberInput1ValueChanged($event)"
      ></trmrk-mat-number-input>
      <p>{{ matNumberInput1Value.number }}</p>
      <trmrk-mat-number-input
        [trmrkLabel]="'-1000000-1000000 with step 000.1 (required)'"
        [trmrkValue]="matNumberInput2Value"
        [trmrkMin]="-1000000"
        [trmrkMax]="1000000"
        [trmrkStep]="0.001"
        [trmrkRequired]="true"
        (trmrkValueChanged)="matNumberInput2ValueChanged($event)"
      ></trmrk-mat-number-input>
      <p>{{ matNumberInput2Value.number }}</p>
    </div>
    <div [ngStyle]="{}">
      <trmrk-short-string-editor
        [trmrkString]="'short '"
        [trmrkFocusedCharIdx]="0"
      ></trmrk-short-string-editor>
      <trmrk-short-string-editor
        [trmrkString]="''"
        [trmrkFocusedCharIdx]="0"
      ></trmrk-short-string-editor>
      <trmrk-short-string-editor
        [trmrkString]="' string'"
        [trmrkFocusedCharIdx]="0"
      ></trmrk-short-string-editor>
      <trmrk-short-string-editor
        [trmrkString]="'asdfasdfafs'"
        [trmrkFocusedCharIdx]="0"
      ></trmrk-short-string-editor
      ><trmrk-short-string-editor
        [trmrkString]="'asdfasdfafs'"
        [trmrkFocusedCharIdx]="0"
      ></trmrk-short-string-editor>
    </div>
  </div>
  <trmrk-horiz-strip
    [trmrkCssClass]="['trmrk-has-border-x2 trmrk-bottom-horiz-strip']"
    [trmrkUseContentInsteadOfTextRow]="true"
  ></trmrk-horiz-strip
></trmrk-app-page>
