<div
  [ngClass]="['trmrk-app', isDarkMode ? 'trmrk-app-theme-dark' : 'trmrk-app-theme-light']"
>
  <div class="trmrk-app-bar">
    <label class="trmrk-field">
      <input
        class="trmrk-checkbox"
        type="checkbox"
        [checked]="isDarkMode"
        (change)="isDarkModeToggled()"
      />Is dark mode
    </label>
  </div>
  <div class="trmrk-app-body trmrk-scrollable trmrk-scrollable-x">
    <app-item
      [cssClass]="`trmrk-item-archive`"
      [entity]="archEntity"
      (itemToggled)="itemToggled(-1)"
      (itemClicked)="itemClicked(-1)"
    ></app-item>
    @for (cat of sectionCats; track cat; let catIdx = $index) { @for (i of
    idxes; track i) {
    <app-item
      [cssClass]="`trmrk-item-${cat}`"
      [entity]="entities[i + catIdx * count]"
      (itemToggled)="itemToggled($event.idx)"
      (itemClicked)="itemClicked($event.idx)"
    ></app-item>
    } }
  </div>
</div>
