@import "./_mixins";

html {
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
}

#app-root {
  height: 100%;
}

.trmrk-error {
  text-align: center;

  > h2 {
    color: orangered;
  }
}

.trmrk-app, .trmrk-app-error, .trmrk-app-loading {
  position: relative;
  width: 100%;
  height: 100%;
}

.trmrk-scrollable {
  overflow-y: scroll;
}

.trmrk-scrollable::-webkit-scrollbar {
  width: 15px;
}

.trmrk-theme-dark {
  .trmrk-scrollable::-webkit-scrollbar-thumb {
    background-color: #303030;
  }

  .trmrk-scrollable::-webkit-scrollbar-track {
    background-color: #1e1e1e;
  }

  .trmrk-scrollable::-webkit-scrollbar-track:hover {
    background-color: #262626;
  }

  .trmrk-scrollable::-webkit-scrollbar-thumb:hover {
    background-color: #404040;
  }
}

.trmrk-theme-light {
  .trmrk-scrollable::-webkit-scrollbar-thumb {
    background-color: #cdcdcd;
  }

  .trmrk-scrollable::-webkit-scrollbar-track {
    background-color: #efefef;
  }

  .trmrk-scrollable::-webkit-scrollbar-track:hover {
    background-color: #dedede;
  }

  .trmrk-scrollable::-webkit-scrollbar-thumb:hover {
    background-color: #bcbcbc;
  }
}

.trmrk-app .trmrk-tab-head {
  margin-right: 0.125em;
}

.trmrk-app .trmrk-tab-head:last-child {
  margin-right: 0px;
}

.trmrk-app.trmrk-theme-dark {
  .trmrk-app-bar-toggle-hide-icon, .trmrk-app-bar-toggle-show-icon {
    background-image: linear-gradient(rgba(255, 255, 255, 0.09), rgba(255, 255, 255, 0.09));
    background-color: #121212;
  }

  .trmrk-tab-head {
    color: #CCC;
    border-color: #606060;
    background-color: #404040;
    border-bottom: 2px groove #606060;
  }

  .trmrk-tab-head * {
    color: #CCC;
  }

  .trmrk-tab-head.trmrk-current {
    background-color: #121212;
    border-bottom-color: #262626;
    background-image: linear-gradient(#121212, #262626);
    border-bottom: 2px groove #404040;
  }

  .trmrk-tab-head.trmrk-current * {
    color: #FFF;
  }

  .trmrk-tabs-list .trmrk-tab-head.trmrk-resx-view-note-item .trmrk-tab-head-icon,
  .trmrk-tabs-list .trmrk-tab-head.trmrk-resx-note-item .trmrk-tab-head-icon,
  .trmrk-tabs-list .trmrk-tab-head.trmrk-resx-notes-hcy .trmrk-tab-head-icon,
  .trmrk-tabs-list .trmrk-tab-head.trmrk-resx-note-files-hcy .trmrk-tab-head-icon {
    color: $trmrk-note-color-theme-dark;

    svg {
      color: $trmrk-note-color-theme-dark;

      path {
        color: $trmrk-note-color-theme-dark;
      }
    }
  }
}

.trmrk-app.trmrk-theme-light {
  .trmrk-app-bar-toggle-hide-icon, .trmrk-app-bar-toggle-show-icon {
    color: #FFF;
    background-color: #1976d2;
  }

  .trmrk-app-bar * {
    color: #FFF;
  }

  .trmrk-tab-head {
    color: #EEE;
    border-color: #1C84EB;
    border-bottom: 2px groove #1C84EB;
  }

  .trmrk-tab-head * {
    color: #EEE;
  }

  .trmrk-tab-head.trmrk-current {
    color: #FFF;
    border-color: #1976d2;
    background-color: #0030a0;
    background-image: linear-gradient(#0030a0, #1976d2);
    border-bottom: 2px groove #1976d2;
  }

  .trmrk-tab-head.trmrk-current * {
    color: #FFF;
  }

  .trmrk-tabs-list .trmrk-tab-head.trmrk-resx-view-note-item .trmrk-tab-head-icon,
  .trmrk-tabs-list .trmrk-tab-head.trmrk-resx-note-item .trmrk-tab-head-icon,
  .trmrk-tabs-list .trmrk-tab-head.trmrk-resx-notes-hcy .trmrk-tab-head-icon,
  .trmrk-tabs-list .trmrk-tab-head.trmrk-resx-note-files-hcy .trmrk-tab-head-icon {
    color: $trmrk-note-color-theme-light;

    svg {
      color: $trmrk-note-color-theme-light;

      path {
        color: $trmrk-note-color-theme-light;
      }
    }
  }
}

.trmrk-page-panel {
  display: inline-flex;
  position: absolute;
}
