$trmrk-screen-max-width-none-app-title-width: 90%;
$trmrk-screen-max-width-1600px-app-title-width: 86%;
$trmrk-screen-max-width-1200px-app-title-width: 82%;
$trmrk-screen-max-width-900px-app-title-width: 78%;
$trmrk-screen-max-width-750px-app-title-width: 73%;
$trmrk-screen-max-width-600px-app-title-width: 68%;
