$trmrk-screen-max-width-none-app-title-width: 92%;
$trmrk-screen-max-width-1600px-app-title-width: 90%;
$trmrk-screen-max-width-1200px-app-title-width: 86.5%;
$trmrk-screen-max-width-900px-app-title-width: 84%;
$trmrk-screen-max-width-750px-app-title-width: 80%;
$trmrk-screen-max-width-600px-app-title-width: 75%;
