@import "./_mixins";

.trmrk-address-bar {
  display: inline-flex;
}

.trmrk-address-bar .trmrk-edtbl, .trmrk-address-bar .trmrk-rdnl {
  width: 100%;
}

.trmrk-theme-dark .trmrk-address-bar input[type=text] {
  background-color: #222222;
  color: white;
}

.trmrk-theme-theme .trmrk-address-bar input[type=text] {
  background-color: white;
}

.trmrk-address-bar input[type=text] {
  display: inline-flex;
  cursor: pointer;
  @include padding(1, 1, 0, 1);
  @include margin(1, 1, 0, 1);
}

.trmrk-address-bar label {
  display: inline-flex;
  width: 5em;
  @include padding(1, 1, 0, 2);
  @include margin(1, 1, 0, 2);
}

.trmrk-address-bar > .trmrk-edtbl > .MuiButtonBase-root.MuiIconButton-root.MuiIconButton-sizeMedium {
  width: 1em;
  @include padding(0, 1, 0, 1);
  @include margin(0, 1, 0, 1);
}

.trmrk-main-address-bar {
  width: 100%;
}
