@import "./_mixins";

@media only screen and (max-width: 750px) {
  .trmrk-app-title {
    width: $trmrk-screen-max-width-750px-app-title-width;
  }

  .trmrk-files-hcy-page .trmrk-main-address-bar input[type=text] {
    width: $trmrk-screen-max-width-750px-app-title-width;
  }

  .trmrk-files-hcy-page .trmrk-main-address-bar.trmrk-address-bar label {
    padding-top: 1px;
    margin-top: 1px;
  }

  .trmrk-files-hcy-page .trmrk-main-address-bar.trmrk-address-bar input[type=text] {
    padding-top: 1px;
    margin-top: 1px;
  }

  .trmrk-files-hcy-page .trmrk-main-address-bar.trmrk-address-bar > .trmrk-edtbl > .MuiButtonBase-root.MuiIconButton-root.MuiIconButton-sizeMedium {
    padding: 0px;
    margin: 0px;
  }
}
