<div>
  <div class="col-end-4 col-end-5"></div>
  <div class="-col-end-1"></div>
  <div
    class="col-start-1 col-start-2 col-start-3 col-start-4 col-start-5"
  ></div>
  <div class="absolute"></div>
  <div class="content-center"></div>
  <div class="display-inline-flex"></div>
  <div class="left-4"></div>
  <div class="h-24"></div>
  <div class="m-0"></div>
  <div class="ml-[calc(50%-100px)]"></div>
  <div class="ml-1"></div>
  <div class="mt-1 mt-20 mt-24"></div>
  <div class="-rotate-90"></div>
  <div class="relative"></div>
  <div class="self-center"></div>
  <div class="text-2xl text-4xl text-6xl text-8xl"></div>
  <div class="text-center"></div>
  <div class="text-folder"></div>
  <div class="text-note-item"></div>
  <div class="text-note-section"></div>
  <div class="overflow-hidden"></div>
  <div class="overflow-visible"></div>
  <div class="overflow-x-hidden"></div>
  <div class="overflow-x-scroll"></div>
  <div class="overflow-x-visible"></div>
  <div class="overflow-y-hidden"></div>
  <div class="overflow-y-scroll"></div>
  <div class="overflow-y-visible"></div>
  <div class="-row-end-1"></div>
  <div class="row-end-1 row-end-2 row-end-3 row-end-4 row-end-5"></div>
  <div
    class="row-start-1 row-start-2 row-start-3 row-start-4 row-start-5"
  ></div>
  <div class="top-1 top-48"></div>
  <div class="w-full"></div>
</div>
