h1 {
  color: #FC8;
  margin: 0;
  padding: 10px;
  line-height: 100px;
  vertical-align: middle;
  border: 1px solid #FC8;
  border-left-width: 2px;
  border-right-width: 2px;
  border-radius: 4px;

  &:first-child, &:last-child {
    border-top-width: 2px;
  }

  &:last-child {
    border-bottom-width: 2px;
  }
}
