@import "../_mixins";

@media screen and (orientation: portrait) {
  .trmrk-app-error {
    > h2 {
      font-size: 1em;
    }
  }

  .trmrk-app {
    .trmrk-icon-btn-main {
      width: 1.5em;
      height: 1.8em;
    }

    .trmrk-app-bar-toggle-icon {
      right: 0.25em;
    }

    .trmrk-settings-btn, .trmrk-home-btn {
      left: 0.15em;
    }
  }
}
