@import "../_mixins";

@media screen and (orientation: portrait) {
  .trmrk-app-setup-page {
    h1 {
      font-size: 1.25em;
    }
    
    .trmrk-caption {
      margin: 1em;
      font-size: 1em;
    }
  }
}
