/* app theme */

:root {
  --trmrk-tool-bar_back-color_light: #ffe000;
  --trmrk-tool-bar_fore-color_light: #000;

  --trmrk-tool-bar_back-color_dark: #200800;
  --trmrk-tool-bar_fore-color_dark: #fff;
}
