/* app theme */

:root {
  --trmrk-tool-bar_back-color_light: #ffc000;
  --trmrk-tool-bar_back-color-emph_light: #c07000;
  --trmrk-tool-bar_fore-color_light: #000;

  --trmrk-tool-bar_back-color_dark: #200800;
  --trmrk-tool-bar_back-color-emph_dark: #602000;
  --trmrk-tool-bar_fore-color_dark: #fff;
}
