@import "./_variables";

@mixin trmrk-tree-node-color($color) {
  > .trmrk-tree-node-content {
    > .trmrk-tree-node-icon {
      > .trmrk-icon {
        color: $color;
      }
    }

    > .trmrk-tree-node-toggle-icon {
      color: $color;
    }

    > .trmrk-tree-node-label {
      border: 2px solid $color;
    }
  }

  &.trmrk-current-item {
    > .trmrk-tree-node-content {
      > .trmrk-tree-node-label {
        background-color: $color;
        color: white;
      }
    }
  }

  &.trmrk-tree-node-expanded {
    border-left: 1px solid $color;
  }
}
