@import "./_mixins";

body, #app-root {
  height: 100vh;
  overflow: hidden;
}

.MuiCheckbox-root.trmrk-checkbox {
  border-radius: 3px;
}

.trmrk-btn.trmrk-btn-text {
  color: white;
}

.trmrk-btn.trmrk-btn-text.trmrk-btn-text-primary {
  background-color: #00F;
}

.trmrk-panel {  
  .trmrk-pinned-top-bar-bg-spacer {
    display: block;
    position: relative;
    height: 2em;
    width: 100%;
  }

  .trmrk-pinned-top-bar {
    display: flex;
    position: fixed;
    width: 100%;
    padding-left: 0.25em;
    cursor: pointer;
    z-index: 1;

    .trmrk-hcy-root-node-token {
      display: inline-flex;
      width: 1.25em;
      height: 1em;
      margin-top: 0.1em;
      padding-left: 0.5em;
      margin-bottom: 0.1em;
      line-height: 1.1em;
      font-size: 1.66em;
      border-radius: 2px;

      &:hover {
        background-color: #8884;
      }
    }

    .trmrk-loading {
      display: block;
      position: relative;
      top: 2.5em;
      left: -1em;
    }
  }
}

.my-resizable-panel {
  background-color: chocolate;
  width: 200px;
  height: 200px;
  margin-left: 100px;
  position: absolute;
  display: block;
  border-radius: 2px;
}

.my-resizable-panel1 {
  background-color: chocolate;
  width: 200px;
  height: 200px;
  margin-left: 100px;
  margin-top: 500px;
  position: absolute;
  display: block;
  border-radius: 2px;
}

.my-resizable-panel .trmrk-resizable-content {
  background-color: darkslateblue;
}

.my-resizable-panel1 .trmrk-resizable-content {
  background-color: darkslateblue;
}

.trmrk-app-module-bar .trmrk-page-title {
  display: block;
  text-align: center;
  line-height: 1.5em;
  font-size: 1.75em;
  margin-top: 0em;
}

.trmrk-page-form {
  display: block;
  padding-top: 1em;
  padding-bottom: 1em;
  min-height: 100%;

  .trmrk-form-group {
    display: block;
    margin: 1em;
    padding: 1em;
    border: 1px solid #888;
    border-radius: 3px;
  }

  .trmrk-form-group:first-child {
    margin-top: 0em;
  }

  .trmrk-form-field {
    width: 300px;
    margin-top: 1em;
    margin-left: 1em;
  }

  .trmrk-buttons-group {
    display: block;
    margin: 1em;
    padding: 1em;

    .trmrk-btn.trmrk-btn-text {
      margin-right: 1em;
    }
  }
}

.trmrk-indexeddb-browser {
  .trmrk-indexeddb-tree-view {
    .trmrk-icon-database {
      color: #880;
    }
  }
}

.trmrk-indexeddb-create-dbstore {
  display: block;
}

.trmrk-indexeddb-browser-app-bar-content { 
  display: block;
}

.trmrk-indexeddb-create-db-app-bar-content {
  display: block;
  margin-top: -2.5em;
}
