@import "./_mixins";

body, #app-root {
  height: 100vh;
  overflow: hidden;
}

.MuiCheckbox-root.trmrk-checkbox {
  border-radius: 3px;
}

.trmrk-btn.trmrk-btn-text {
  color: white;
}

.trmrk-btn.trmrk-btn-text.trmrk-btn-text-primary {
  background-color: #00F;
}

.trmrk-panel {
  width: 100%;

  .trmrk-pinned-top-bar-bg-spacer {
    display: block;
    position: relative;
    height: 2.5em;
    width: 100%;
  }

  .trmrk-pinned-top-bar {
    display: flex;
    position: fixed;
    width: 100%;
    padding-left: 0.2em;
    cursor: pointer;
    z-index: 1;
  }
}

.trmrk-app-module-bar .trmrk-page-title {
  display: block;
  text-align: center;
  line-height: 1.5em;
  font-size: 1.75em;
  margin-top: 0em;
}

.trmrk-page-form {
  display: block;
  padding-top: 1em;
  padding-bottom: 1em;
  min-height: 100%;

  .trmrk-form-group {
    display: block;
    margin: 1em;
    padding: 1em;
    border: 1px solid #888;
    border-radius: 3px;
  }

  .trmrk-form-group:first-child {
    margin-top: 0em;
  }

  .trmrk-form-field {
    width: 300px;
    margin-top: 1em;
    margin-left: 1em;
  }

  .trmrk-buttons-group {
    display: block;
    margin: 1em;
    padding: 1em;

    .trmrk-btn.trmrk-btn-text {
      margin-right: 1em;
    }
  }
}
