@import "./_mixins";

.trmrk-indexeddb-tree-view {
  > .trmrk-tree-node {
    @include trmrk-tree-node-color(#880);
  }
}

.trmrk-theme-dark {
  .trmrk-ftb-bar-toggle-icon {
    background-image: linear-gradient(rgba(255, 255, 255, 0.09), rgba(255, 255, 255, 0.09));
    background-color: #121212;
  }
}

.trmrk-theme-light {
  .trmrk-ftb-bar-toggle-icon, .trmrk-ftb-bar-toggle-icon:hover {
    color: #FFF;
    background-color: #1976d2;
  }
}
