@import "./_mixins";

.trmrk-theme-dark {
  .trmrk-long-press-demo-btn1 {
    border: 1px solid #444;

    &.trmrk-long-pressing {
      animation: trmrk-long-press-demo-btn-long-pressed-theme-dark 0.05s steps(1000000, start) infinite alternate-reverse;
    }
  }
  
  .trmrk-long-press-demo-btn2 {
    border: 1px solid #444;

    &.trmrk-long-pressing {
      animation: trmrk-long-press-demo-btn-long-pressed-theme-dark 0.05s steps(1000000, start) infinite alternate-reverse;
    }
  }
}

.trmrk-theme-light {
  .trmrk-long-press-demo-btn1 {
    border: 1px solid #ccc;

    &.trmrk-long-pressing {
      animation: trmrk-long-press-demo-btn-long-pressed-theme-light 0.05s steps(1000000, start) infinite alternate-reverse;
    }
  }
  
  .trmrk-long-press-demo-btn2 {
    border: 1px solid #ccc;

    &.trmrk-long-pressing {
      animation: trmrk-long-press-demo-btn-long-pressed-theme-light 0.05s steps(1000000, start) infinite alternate-reverse;
    }
  }
}
