@if (show) {
<div class="trmrk-user-message-container">
  <div
    [ngClass]="['trmrk-user-message', msgLevelCssClass, messageFadeOut ? 'trmrk-fade' : '']"
  >
    <button
      mat-icon-button
      class="trmrk-icon-btn trmrk-close-icon-btn"
      (click)="closeButtonClick()"
    >
      <mat-icon class="trmrk-icon">close</mat-icon>
    </button>
    <div class="trmrk-content">
      <div [ngClass]="['trmrk-content-text trmrk-wrap-content']">
        <span class="trmrk-text-part">{{trmrkMessage}}</span>
      </div>
    </div>
    @if (arrowCssClass) {
    <svg
      [ngClass]="['trmrk-arrow', arrowCssClass]"
      viewBox="0 0 20 10"
      [ngStyle]="trmrkArrowStyle"
    >
      <path
        class="trmrk-arrow-body"
        strokeWidth="1"
        d="M 0 10 L 10 0 L 20 10"
      />
      <path
        class="trmrk-arrow-border"
        strokeWidth="1"
        d="M 0 10 L 10 0 L 20 10"
        fill="none"
      />
    </svg>
    }
  </div>
</div>
}
