/* You can add global styles to this file, and also import other style files */
@use '@angular/material' as mat;
@use "./mixins.scss" as mixins;

// Light theme configuration
$light-theme: mat.define-theme(
  (
    color: (
      theme-type: light,
      primary: mat.$violet-palette,
      tertiary: mat.$magenta-palette,
      /* primary: mat.$orange-palette,
      tertiary: mat.$yellow-palette, */
    ),
  )
);

// Dark theme configuration
$dark-theme: mat.define-theme(
  (
    color: (
      theme-type: dark,
      primary: mat.$violet-palette,
      tertiary: mat.$magenta-palette,
      /* primary: mat.$orange-palette,
      tertiary: mat.$yellow-palette, */
    ),
  )
);

@include mat.core();

body {
  font-family: Roboto, "Helvetica Neue", sans-serif;
  @include mat.all-component-themes($light-theme);
}

// Dynamic theme switching (only colors)
.trmrk-app-theme-dark {
  @include mat.all-component-colors($dark-theme);
}
.trmrk-app-theme-light {
  @include mat.all-component-colors($light-theme);
}
/*
* ------------ App Styles ------------
*/

.trmrk-icon-btn, [mat-icon-button].trmrk-icon-btn, .trmrk-custom-svg-icon-btn {
  padding: 8px;
}
