.trmrk-app-theme-light {
  .trmrk-app-bar {
    background-color: #ffe8a0;
  }

  .trmrk-top-message-horiz-strip,
  .trmrk-top-horiz-strip,
  .trmrk-bottom-horiz-strip {
    background-color: #ffe8a0;

    &.trmrk-has-border-x2 {
      border-color: #ffd880;
    }
  }

  .trmrk-accelerating-scroll-popover {
    background-color: #ffe8a0;
  }
}

.trmrk-app-theme-dark {
  .trmrk-app-bar {
    background-color: #200800;
  }

  .trmrk-top-message-horiz-strip,
  .trmrk-top-horiz-strip,
  .trmrk-bottom-horiz-strip {
    background-color: #200800;

    &.trmrk-has-border-x2 {
      border-color: #301000;
    }
  }

  .trmrk-accelerating-scroll-popover {
    background-color: #200800;
  }
}
