:root {
  --trmrk-app-bar_background-color_light: #ddbbff;
  --trmrk-top-horiz-strip_border-color-light: #ccaaee;
  --trmrk-app-bar_background-color_dark: #220033;
  --trmrk-top-horiz-strip_border-color-dark: #330044;

  /* --trmrk-app-bar_background-color_light: #ffe000;
  --trmrk-top-horiz-strip_border-color-light: #f0d000;
  --trmrk-app-bar_background-color_dark: #200800;
  --trmrk-top-horiz-strip_border-color-dark: #301000; */
}

.trmrk-app-theme-light {
  .trmrk-app-icon {
    stroke: #44F;
    fill: #44F;
  }

  .trmrk-app-bar {
    background-color: var(--trmrk-app-bar_background-color_light);
  }

  .trmrk-top-message-horiz-strip,
  .trmrk-top-horiz-strip,
  .trmrk-bottom-horiz-strip {
    background-color: var(--trmrk-app-bar_background-color_light);

    &.trmrk-has-border-x2 {
      border-color: var(--trmrk-top-horiz-strip_border-color-light);
    }
  }

  .trmrk-accelerating-scroll-popover {
    background-color: var(--trmrk-app-bar_background-color_light);
  }
}

.trmrk-app-theme-dark {
  .trmrk-app-bar {
    background-color: var(--trmrk-app-bar_background-color_dark);
  }

  .trmrk-top-message-horiz-strip,
  .trmrk-top-horiz-strip,
  .trmrk-bottom-horiz-strip {
    background-color: var(--trmrk-app-bar_background-color_dark);

    &.trmrk-has-border-x2 {
      border-color: var(--trmrk-top-horiz-strip_border-color-dark);
    }
  }

  .trmrk-accelerating-scroll-popover {
    background-color: var(--trmrk-app-bar_background-color_dark);
  }
}
