<trmrk-app-bar
  [trmrkLeadingIconTemplate]="trmrkAppBarLeadingIconTemplate"
  [trmrkHomeRouterLink]="trmrkAppBarHomeRouterLink"
  [trmrkTitle]="trmrkAppBarTitle"
  [trmrkCssClass]="trmrkAppBarCssClass"
  [trmrkTrailingTemplate]="trmrkAppBarTrailingTemplate"
></trmrk-app-bar>
<ng-template #trmrkAppBarTrailingTemplate>
  @if (trmrkShowOptionsBtn) {
  <button
    mat-icon-button
    class="trmrk-icon-btn trmrk-options-btn"
    [matMenuTriggerFor]="null"
    #optionsMenuTrigger="matMenuTrigger"
    (click)="optionsMenuBtnClick($event)"
  >
    <mat-icon class="trmrk-icon">more_vert</mat-icon>
  </button>
  <mat-menu class="trmrk-menu" dense>
    <ng-container *ngTemplateOutlet="trmrkOptionsMenuTemplate"></ng-container>
    @if (trmrkIncludeSettingsMenuItem) {<a
      mat-menu-item
      class="trmrk-menu-item"
      [routerLink]="[`${trmrkRouteBasePath}/settings`]"
    >
      <mat-icon class="trmrk-icon">settings</mat-icon>
      Settings
    </a>
    }
  </mat-menu>
  }
</ng-template>

@if (trmrkUseDefaultPageBody) {
<div
  class="trmrk-app-page-body trmrk-height-diff-x0 trmrk-scrollable trmrk-scrollable-y"
>
  <ng-container *ngTemplateOutlet="trmrkPageTemplate"></ng-container>
</div>
} @if (!trmrkUseDefaultPageBody) {
<ng-container *ngTemplateOutlet="trmrkPageTemplate"></ng-container>
}
