@import "../../styles/_mixins";

.trmrk-bars-panel {
  display: block;
  position: relative;
  height: 100%;

  &.trmrk-has-header {
    padding-top: 2.5em;
  }

  &.trmrk-has-footer {
    padding-bottom: 2.5em;
    margin-bottom: 2.5em;
  }
}

.trmrk-panel-header,
.trmrk-panel-footer {
  display: flex;
  position: fixed;
}

.trmrk-panel-body {
  display: flex;
  min-height: 100%;
  position: relative;
}

.trmrk-bars-panel,
.trmrk-panel-body,
.trmrk-panel-header,
.trmrk-panel-footer {
  width: 100%;
}

.trmrk-panel-header,
.trmrk-panel-footer {
  overflow: hidden;
  z-index: 1;
}

.trmrk-bars-panel {
  box-sizing: border-box;
  height: 100%;
}

.trmrk-bars-panel {
  transition: padding-top 0.3s,
              padding-bottom 0.3s;
}

.trmrk-panel-header {
  top: 0px;
  transition: height 0.3s;
}

.trmrk-panel-footer {
  bottom: 0px;
  transition: height 0.3s;
}

.trmrk-panel-header,
.trmrk-panel-footer {
  height: 2.5em;
}

.trmrk-panel-footer ~ .trmrk-panel-body {
  padding-bottom: 2.5em;
}
