@import "./_mixins";

html {
  height: 100%;
  font-size: 16px;
}

@media only screen and (min-resolution: 300dpi) {  
  html {
    font-size: 48px;
  }
}

@media only screen and (min-resolution: 192dpi) {  
  html {
    font-size: 32px;
  }
}

body {
  height: 100%;
  margin: 0;
}

#app-root {
  height: 100%;
}

.trmrk-app-error {
  text-align: center;

  > h2 {
    color: orangered;
    font-size: 2em;
  }
}

.trmrk-app, .trmrk-modal {
  user-select: none;
}

.trmrk-app-setup-page h1 {
  text-align: center;
}

.trmrk-app, .trmrk-app-error, .trmrk-app-setup {
  position: relative;
  width: 100%;
  height: 100%;
}

.trmrk-app-setup-modal .trmrk-app-setup-modal-content {
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  padding: 0px;

  .trmrk-header {
    position: absolute;
    top: 0em;
    left: 0em;
    text-align: center;
    width: 100%;
    height: 8em;
    padding-top: 0.4em;

    h2 {
      text-align: center;
      font-size: 1.47em;
    }
  }

  .trmrk-close-btn {
    position: absolute;
    top: 0.1em;
    right: 0.4em;
    z-index: 1;
  }

  .trmrk-modal-container {
    height: 100%;
  }
  
  .trmrk-container {
    position: absolute;
    bottom: 0em;
    width: 100%;
    max-width: 100%;
    padding: 0px;
    margin: 0px;
    top: 8em;

    .trmrk-content {
      width: 80%;
      margin: auto;
      padding: 1em;
    }
  }

  .trmrk-address-bar {
    margin: auto;
    position: absolute;
    top: 3.5em;
    left: 10%;
    right: 10%;

    .trmrk-text-input {
      position: absolute;
      left: 0em;
      right: 10em;
    }

    .trmrk-root-folder-icon {
      cursor: pointer;
      position: absolute;
      font-size: 2em;
      font-weight: bold;
      z-index: 1;
      width: 1.5em;
      height: 1.5em;
      left: -1.5em;
    }

    .trmrk-cancel-edit-icon {
      cursor: pointer;
      position: absolute;
      z-index: 1;
      left: -2em;
      
      svg {
        font-size: 1.5em;
      }
    }

    .trmrk-submit-edit-icon {
      cursor: pointer;
      position: absolute;
      right: -2em;
      
      svg {
        font-size: 1.5em;
      }
    }

    .trmrk-folder-choose-btn {
      position: absolute;
      font-size: 1.5em;
      text-transform: none;
      right: -7em;
    }
  }
}

@media only screen and (max-width: 900px) {
  .trmrk-app-setup-modal .trmrk-app-setup-modal-content {
    .trmrk-header {
      left: 0.5em;
      
      h2 {
        text-align: left;
      }
    }

    .trmrk-container {
      width: 100%;

      .trmrk-content {
        width: 100%;
      }
    }
    
    .trmrk-address-bar {
      left: 2em;

      .trmrk-text-input {
        right: 8em;
      }

      .trmrk-edit-input {
        left: 1em;
        right: 1em;
      }

      .trmrk-root-folder-icon {
        left: -1.0em;
      }

      .trmrk-folder-choose-btn {
        right: -6.5em;
      }
    }
  }
}

.trmrk-scrollable {
  overflow-y: scroll;
}

.trmrk-scrollable::-webkit-scrollbar {
  width: 15px;
}

.trmrk-left-resizable {
  padding-left: 4px;
}

.trmrk-left-resizable::after {
    content: '';
    position: absolute;
    left: 0;
    width: 4px;
    height: 100%;
    cursor: ew-resize;
}

.trmrk-app-tabs-bar {
  .trmrk-tabs-list-spacer {
    display: inline-flex;
    position: absolute;
    top: 0px;
    bottom: 0px;
    width: 1em;
    z-index: 1;
  }
  
  .trmrk-tabs-list-spacer.trmrk-before {
    left: 0px;
  }
  
  .trmrk-tabs-list-spacer.trmrk-after {
    right: 0px;
  }
}

.trmrk-app {
  .trmrk-tab-head {
    margin-right: 0.125em;
  }

  .trmrk-tab-head:last-child {
    margin-right: 0px;
  }

  .trmrk-page-panel {
    display: inline-flex;
    position: absolute;
  }

  .trmrk-tab-head.trmrk-edit-mode {
    border-bottom-style: ridge;
    border-bottom-width: 3px;
  }

  .trmrk-tab-head.trmrk-edit-mode.trmrk-current {
    border-bottom-style: ridge;
    border-bottom-width: 3px;
  }
}
