@import "./_mixins";

html {
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
}

#app-root {
  height: 100%;
}

.trmrk-app-error {
  text-align: center;

  > h2 {
    color: orangered;
    font-size: 2em;
  }
}

.trmrk-app, .trmrk-modal {
  user-select: none;
}

.trmrk-app, .trmrk-app-error, .trmrk-app-setup {
  position: relative;
  width: 100%;
  height: 100%;
}

.trmrk-scrollable {
  overflow-y: scroll;
}

.trmrk-scrollable::-webkit-scrollbar {
  width: 15px;
}

.trmrk-left-resizable {
  padding-left: 4px;
}

.trmrk-left-resizable::after {
    content: '';
    position: absolute;
    left: 0;
    width: 4px;
    height: 100%;
    cursor: ew-resize;
}

.trmrk-app {
  .trmrk-app-tabs-bar {
    .trmrk-tabs-list-spacer {
      display: inline-flex;
      position: absolute;
      top: 0px;
      bottom: 0px;
      width: 1em;
      z-index: 1;
    }
    
    .trmrk-tabs-list-spacer.trmrk-before {
      left: 0px;
    }
    
    .trmrk-tabs-list-spacer.trmrk-after {
      right: 0px;
    }
  }

  .trmrk-tab-head {
    margin-right: 0.125em;

    .trmrk-tab-close-icon {
      margin-right: 0.1em;
    }
  }

  .trmrk-tab-head:last-child {
    margin-right: 0px;
  }

  .trmrk-page-panel {
    display: inline-flex;
    position: absolute;
  }

  .trmrk-tab-head.trmrk-edit-mode {
    border-bottom-style: ridge;
    border-bottom-width: 3px;
  }

  .trmrk-tab-head.trmrk-edit-mode.trmrk-current {
    border-bottom-style: ridge;
    border-bottom-width: 3px;
  }
}
