.trmrk-app-setup-page {
  display: block;
  position: absolute;
  top: 5em;
  bottom: 0em;
  left: 0em;
  right: 0em;
}

.trmrk-app-setup-header {
  button.trmrk-main-icon-btn {
    width: 0em;
    height: 2.5em;
    font-size: 1em;
    text-transform: none;
    display: inline-flex;
    color: #FFF;
    padding-left: 0em;
    padding-right: 0em;
    min-width: 2.5em;
  }
}

.trmrk-app-setup-page {
  h1 {
    text-align: center;
  }
  
  .trmrk-caption {
    margin: 1em;
    font-size: 1.25em;
    cursor: pointer;
    text-align: center;
  }
}
