.trmrk-app-setup-header {
  cursor: pointer;
  
  button.trmrk-main-icon-btn {
    width: 2.5em;
    font-size: 1em;
    color: #FFF;
  }
}

.trmrk-app-setup-page {
  cursor: pointer;
  text-align: center;
  display: block;
  position: absolute;
  top: 5em;
  bottom: 0em;
  left: 0em;
  right: 0em;

  .trmrk-caption {
    margin: 1em;
    font-size: 1.25em;
  }

  button.trmrk-main-btn {
    text-transform: none;
    font-size: 1em;
  }
}

.trmrk-app-setup-page.trmrk-app-page-no-app-bar {
  top: 0px;
}
