<div [ngClass]="['trmrk-app-bar', trmrkCssClass ?? '']">
  <a
    mat-icon-button
    class="trmrk-icon-btn"
    [routerLink]="trmrkHomeRouterLink ?? appConfigService.routeBasePath"
    aria-label="Home"
  >
    @if (trmrkLeadingIconTemplate) {
    <ng-container *ngTemplateOutlet="trmrkLeadingIconTemplate"></ng-container>
    } @if (!trmrkLeadingIconTemplate) {
    <mat-icon class="trmrk-icon trmrk-home-icon">home</mat-icon>}
  </a>

  <h1 class="trmrk-page-title" #pageTitle>{{trmrkTitle}}</h1>

  @if (trmrkTrailingTemplate) {
  <ng-container *ngTemplateOutlet="trmrkTrailingTemplate"></ng-container>
  }
</div>
