.trmrk-app-header {
  height: 5em;
}

.trmrk-app-header-toggle {
  color: white;
  display: inline-block;
  position: fixed;
  right: 0px;
  top: 0px;
  z-index: 1;
}

.my-resizable-panel {
  background-color: darkslateblue;
  width: 200px;
  height: 200px;
  margin-left: 100px;
  position: absolute;
  display: block;
}
