.trmrk-app-module {
  user-select: none;
}

.trmrk-app-module-header {
  display: block;
  position: fixed;
  width: 100%;
}

.trmrk-app-module-main-content {
  position: fixed;
  width: 100%;
  height: 100%;
}
