.trmrk-ul {
  margin: 1em;
  padding: 1em;
  margin-top: 0px;
}

.trmrk-long-press-demo-btn1,
.trmrk-long-press-demo-btn2 {
  position: relative;
  top: 1em;
  left: 1em;
}

.trmrk-long-press-demo-btn2 {
  left: 2em;
}

@keyframes trmrk-long-press-demo-btn-long-pressed-theme-dark {
  from {
    background-color: #121212;
  }

  to {
    background-color: #454545;
  }
}

@keyframes trmrk-long-press-demo-btn-long-pressed-theme-light {
  from {
    background-color: var(--trmrk_foreground-color);
  }

  to {
    background-color: #eee;
  }
}
