html, body, #app-root {
  background-color: #FFF8E0;
}

button.trmrk-app-bar-toggle-icon, button.trmrk-app-bar-toggle-icon:hover {
  background-color: #1976d2;
  transition: background-color 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}

.trmrk-debug-log-entry {
  border: 1px solid gray;
  font-family: Consolas;
  font-weight: bold;

  .trmrk-debug-log-entry-header {
    color: blue;
    font-style: italic;
    text-decoration: underline;

    label {
      cursor: pointer;
      user-select: none;
    }
  }

  .trmrk-grid-name-cell {
    color: darkgreen;
    font-style: italic;
  }
}
