.trmrk-app, .trmrk-app-error, .trmrk-app-loading {
  width: 100%;
  height: 100%;
}

#app-root {
  height: 100%;
}

body {
  height: 100vh;
}

.trmrk-error {
  text-align: center;
}

.trmrk-error > h2 {
  color: orangered;
}

header label {
  color: #d0d0d0;
}

.trmrk-address-bar {
  display: inline-flex;
}

.trmrk-address-bar .trmrk-edtbl, .trmrk-address-bar .trmrk-rdnl {
  width: 100%;
}

.trmrk-theme-dark .trmrk-address-bar input[type=text] {
  background-color: #222222;
  color: white;
}

.trmrk-theme-theme .trmrk-address-bar input[type=text] {
  background-color: white;
}

.trmrk-address-bar input[type=text] {
  display: inline-flex;
  cursor: pointer;
  padding: 1px 1px 0px 1px;
  margin: 1px 1px 0px 1px;
}

.trmrk-address-bar label {
  display: inline-flex;
  width: 5em;
  padding: 1px 0px 0px 2px;
  margin: 1px 0px 0px 2px;
}

.trmrk-address-bar > .trmrk-edtbl > .MuiButtonBase-root.MuiIconButton-root.MuiIconButton-sizeMedium {
  width: 1em;
  padding: 0px 1px 0px 1px;
  margin: 0px 1px 0px 1px;
}

.trmrk-main-address-bar {
  width: 100%;
}

.trmrk-app .trmrk-files-hcy-page {
  width: 100%;
  max-width: 100%;
}

.trmrk-files-hcy-page .trmrk-main-address-bar {
  margin-top: 0.5em;
}

.trmrk-app-title {
  width: 94%;
}

.trmrk-files-hcy-page .trmrk-main-address-bar input[type=text] {
  width: 94%;
}

@media only screen and (max-width: 1600px) {
  .trmrk-app-title {
    width: 92%;
  }

  .trmrk-files-hcy-page .trmrk-main-address-bar input[type=text] {
    width: 92%;
  }
}

@media only screen and (max-width: 1200px) {
  .trmrk-app-title {
    width: 89%;
  }

  .trmrk-files-hcy-page .trmrk-main-address-bar input[type=text] {
    width: 89%;
  }
}

@media only screen and (max-width: 900px) {
  .trmrk-app-title {
    width: 87%;
  }

  .trmrk-files-hcy-page .trmrk-main-address-bar input[type=text] {
    width: 87%;
  }
}

@media only screen and (max-width: 750px) {
  .trmrk-app-title {
    width: 84%;
  }

  .trmrk-files-hcy-page .trmrk-main-address-bar input[type=text] {
    width: 84%;
  }

  .trmrk-files-hcy-page .trmrk-main-address-bar.trmrk-address-bar label {
    padding: 1px 0px 0px 0px;
    margin: 1px 0px 0px 0px;
  }

  .trmrk-files-hcy-page .trmrk-main-address-bar.trmrk-address-bar input[type=text] {
    padding: 1px 0px 0px 0px;
    margin: 1px 0px 0px 0px;
  }

  .trmrk-files-hcy-page .trmrk-main-address-bar.trmrk-address-bar > .trmrk-edtbl > .MuiButtonBase-root.MuiIconButton-root.MuiIconButton-sizeMedium {
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
  }
}

@media only screen and (max-width: 600px) {
  .trmrk-app-title {
    width: 80%;
  }

  .trmrk-files-hcy-page .trmrk-main-address-bar.trmrk-address-bar input[type=text] {
    width: 80%;
  }
}
