<trmrk-app-page
  [trmrkAppBarTitle]="'App Setup'"
  [trmrkAppBarShowBackBtn]="false"
  [trmrkShowOptionsBtn]="false"
  [trmrkAppBarLeadingTemplate]="appIcon"
>
  <div
    class="trmrk-page-body trmrk-page-body-thin trmrk-box-sizing-border-box trmrk-pad-left-x1 trmrk-pad-right-x1"
  >
    <h2>Welcome to Turmerik File Manager</h2>
    <p>
      As a file manager, this app needs access to a storage system. Click
      <a
        class="trmrk-link trmrk-color-primary trmrk-text-bold"
        href="javascript:void(0);"
        (click)="openAppSetupModal()"
        >here</a
      >
      to set it up.
    </p>
  </div></trmrk-app-page
>
<ng-template #appIcon
  ><button mat-icon-button class="trmrk-icon-btn"><trmrk-app-icon></trmrk-app-icon></button
></ng-template>
