@keyframes trmrk_text-input-caret-positioner-animator-slide-horiz {
  from {
    left: -1.25em;
  }

  to {
    left: 1.25em;
  }
}

@keyframes trmrk_text-input-caret-positioner-animator-slide-vert {
  from {
    top: -1.25em;
  }

  to {
    top: 1.25em;
  }
}

.trmrk-text-input-caret-positioner-popover-backdrop {
  z-index: 999000;
}

.trmrk-text-input-caret-positioner-popover {
  display: flex;
  position: fixed;
  z-index: 1200;
  height: calc(2.5em + 6px);
  width: calc(22.5em + 6px);
  left: calc(50% - 11.25em - 3px);
  right: calc(50% - 11.25em - 3px);
  color: var(--trmrk_dark-background_foreground-color);
  top: 0px;
  padding: 3px;
  border-radius: 3px;

  &.trmrk-in-front-of-all {
    z-index: 1000000;
  }

  .trmrk-text-input-caret-positioner {
    display: flex;
    flex-shrink: 0;
    position: absolute;
    height: calc(100% - 6px);
    width: calc(100% - 6px);
    border-radius: 3px;
  }

  &.trmrk-is-move-and-resize-mode {
    border-radius: 0px;

    .trmrk-text-input-caret-positioner {
      border-radius: 0px;
    }
  }

  .trmrk-is-activated {
    border-radius: 0px;
  }

  .trmrk-popover-top-border,
  .trmrk-popover-bottom-border {
    display: flex;
    flex-grow: 1;
    width: calc(100% - 6px);
    position: absolute;
    height: 3px;
    overflow: hidden;

    .trmrk-animator {
      display: flex;
      flex-grow: 1;
      width: calc(200%);
      position: absolute;
      height: 3px;

      &.trmrk-animation-reversed {
        animation-direction: reverse;
      }

      &.trmrk-slide-speed-x1 {
        animation-name: trmrk_text-input-caret-positioner-animator-slide-horiz;
        animation-duration: 1s;
        animation-timing-function: steps(667);
        animation-iteration-count: 333000;
      }

      &.trmrk-slide-speed-x2 {
        animation-name: trmrk_text-input-caret-positioner-animator-slide-horiz;
        animation-duration: 0.67s;
        animation-timing-function: steps(333);
        animation-iteration-count: 667000;
      }

      &.trmrk-slide-speed-x3 {
        animation-name: trmrk_text-input-caret-positioner-animator-slide-horiz;
        animation-duration: 0.33s;
        animation-timing-function: steps(100);
        animation-iteration-count: 1000000;
      }
    }
  }

  .trmrk-popover-left-border,
  .trmrk-popover-right-border {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    height: calc(100% - 6px);
    position: absolute;
    width: 3px;
    overflow: hidden;

    .trmrk-animator {
      display: flex;
      flex-grow: 1;
      flex-direction: column;
      height: calc(200%);
      position: absolute;
      width: 3px;

      &.trmrk-animation-reversed {
        animation-direction: reverse;
      }

      &.trmrk-slide-speed-x1 {
        animation-name: trmrk_text-input-caret-positioner-animator-slide-vert;
        animation-duration: 1s;
        animation-timing-function: steps(667);
        animation-iteration-count: 333000;
      }

      &.trmrk-slide-speed-x2 {
        animation-name: trmrk_text-input-caret-positioner-animator-slide-vert;
        animation-duration: 0.67s;
        animation-timing-function: steps(333);
        animation-iteration-count: 667000;
      }

      &.trmrk-slide-speed-x3 {
        animation-name: trmrk_text-input-caret-positioner-animator-slide-vert;
        animation-duration: 0.33s;
        animation-timing-function: steps(100);
        animation-iteration-count: 1000000;
      }
    }
  }

  .trmrk-popover-top-border {
    top: 0px;
  }

  .trmrk-popover-bottom-border {
    bottom: 0px;
  }

  .trmrk-popover-left-border {
    left: 0px;
  }

  .trmrk-popover-right-border {
    right: 0px;
  }

  &.trmrk-minimized {
    width: calc(2.5em + 6px);
  }

  .trmrk-icon-btn {
    position: relative;
    color: inherit;
    height: 1.66em;
    width: 1.66em;
  }

  .trmrk-view {
    position: relative;
    display: flex;

    .trmrk-arrow-left-icon,
    .trmrk-arrow-right-icon,
    .trmrk-arrow-drop-up-icon,
    .trmrk-arrow-drop-down-icon {
      font-size: 1.66em;
    }

    .trmrk-jump-prev-char-x3-btn,
    .trmrk-jump-prev-char-x2-btn,
    .trmrk-jump-prev-char-x1-btn,
    .trmrk-jump-next-char-x1-btn,
    .trmrk-jump-next-char-x2-btn,
    .trmrk-jump-next-char-x3-btn {
      .trmrk-arrow-left-icon,
      .trmrk-arrow-right-icon {
        position: absolute;
      }
    }

    .trmrk-jump-prev-line-x3-btn,
    .trmrk-jump-prev-line-x2-btn,
    .trmrk-jump-prev-line-x1-btn,
    .trmrk-jump-next-line-x1-btn,
    .trmrk-jump-next-line-x2-btn,
    .trmrk-jump-next-line-x3-btn {
      .trmrk-arrow-up-icon,
      .trmrk-arrow-down-icon {
        position: absolute;
        font-size: 2em;
      }
    }

    .trmrk-jump-prev-char-x3-btn {
      .trmrk-arrow-left-icon:first-child {
        left: -0.25em;
      }
      
      .trmrk-arrow-left-icon:nth-child(3) {
        left: 0.25em;
      }
    }

    .trmrk-jump-prev-char-x2-btn {
      .trmrk-arrow-left-icon:first-child {
        left: -0.125em;
      }

      .trmrk-arrow-left-icon:nth-child(2) {
        left: 0.125em;
      }
    }

    .trmrk-jump-next-char-x2-btn {
      .trmrk-arrow-right-icon:first-child {
        left: -0.125em;
      }

      .trmrk-arrow-right-icon:nth-child(2) {
        left: 0.125em;
      }
    }

    .trmrk-jump-next-char-x3-btn {
      .trmrk-arrow-right-icon:first-child {
        left: -0.25em;
      }
      
      .trmrk-arrow-right-icon:nth-child(3) {
        left: 0.25em;
      }
    }

    .trmrk-jump-prev-line-x3-btn {
      .trmrk-arrow-up-icon:first-child {
        top: -0.275em;
      }
      
      .trmrk-arrow-up-icon:nth-child(2) {
        top: -0.055em;
      }
      
      .trmrk-arrow-up-icon:nth-child(3) {
        top: 0.15em;
      }
    }

    .trmrk-jump-prev-line-x2-btn {
      .trmrk-arrow-up-icon:first-child {
        top: -0.15em;
      }

      .trmrk-arrow-up-icon:nth-child(2) {
        top: 0.05em;
      }
    }

    .trmrk-jump-next-line-x2-btn {
      .trmrk-arrow-down-icon:first-child {
        top: -0.15em;
      }

      .trmrk-arrow-down-icon:nth-child(2) {
        top: 0.05em;
      }
    }

    .trmrk-jump-next-line-x3-btn {
      .trmrk-arrow-down-icon:first-child {
        top: -0.275em;
      }
      
      .trmrk-arrow-down-icon:nth-child(2) {
        top: -0.055em;
      }
      
      .trmrk-arrow-down-icon:nth-child(3) {
        top: 0.15em;
      }
    }

    .trmrk-move-up-x3-btn .trmrk-keyboard-double-arrow-up-icon,
    .trmrk-move-down-x3-btn .trmrk-keyboard-double-arrow-down-icon {
      position: absolute;

      &:first-child {
        top: 0.1em;
      }

      &:nth-child(2) {
        top: 0.67em;
      }
    }

    &.trmrk-move-and-resize-view {
      .trmrk-move-panel {
        .trmrk-icon-btn.trmrk-drag-icon-btn {
          .trmrk-icon {
            zoom: 1.25;
          }
        }
      }

      .trmrk-side-panel {
        overflow: hidden;
      }

      .trmrk-corner-panel {
        width: calc(2.5em + 3px);
        height: calc(2.5em + 3px);
      }

      .trmrk-side-panel,
      .trmrk-corner-panel {
        display: block;
        position: absolute;
      }

      .trmrk-left-panel,
      .trmrk-right-panel {
        top: -3px;
        bottom: -3px;
      }

      .trmrk-left-panel {
        width: calc(2.5em + 3px);
      }
      
      .trmrk-right-panel {
        width: calc(2.5em + 3px);
      }

      .trmrk-top-panel,
      .trmrk-bottom-panel {
        left: -3px;
        right: -3px;
        height: calc(2.5em + 3px);
      }

      .trmrk-left-panel {
        left: calc(-2.5em - 6px);
      }

      .trmrk-top-panel {
        top: calc(-2.5em - 6px);
      }

      .trmrk-right-panel {
        right: calc(-2.5em - 6px);
      }

      .trmrk-bottom-panel {
        bottom: calc(-2.5em - 6px);
      }

      .trmrk-top-left-panel {
        top: calc(-2.5em - 6px);
        left: calc(-2.5em - 6px);
        border-top-left-radius: 3px;
      }

      .trmrk-top-right-panel {
        top: calc(-2.5em - 6px);
        right: calc(-2.5em - 6px);
        border-top-right-radius: 3px;
      }

      .trmrk-bottom-right-panel {
        bottom: calc(-2.5em - 6px);
        right: calc(-2.5em - 6px);
        border-bottom-right-radius: 3px;
      }

      .trmrk-bottom-left-panel {
        bottom: calc(-2.5em - 6px);
        left: calc(-2.5em - 6px);
        border-bottom-left-radius: 3px;
      }
    }
  }
}

