@import "./_mixins.scss";

$resizable-draggable-margin-hover-color-theme-dark: #FFFFFF44;
$resizable-draggable-margin-hover-color-theme-light: #00000044;

.trmrk-panel-header,
.trmrk-panel-footer {
  .trmrk-app-bar {
    color: white;

    .trmrk-icon-btn {
      color: white;
    }
  }
}

.trmrk-theme-dark {
  color: white;
  
  .trmrk-icon-btn {
    color: white;
  }

  .trmrk-nav-link {
    color: #bbbbFF;
  }

  .trmrk-nav-link:visited {
    color: #8888FF;
  }

  .trmrk-scrollable {
    @include scrollable(#222, #444, #333, #555);
  }

  &.trmrk-scrollable {
    @include scrollable(#222, #444, #333, #555);
  }

  .trmrk-resizable-panel.trmrk-border-alpha-25 {
    @include resizable-panel-colors(#FFFFFF44);
  }

  .trmrk-resizable-panel.trmrk-border-alpha-50 {
    @include resizable-panel-colors(#FFFFFF88);
  }
}

.trmrk-theme-light {
  .trmrk-scrollable {
    @include scrollable(#eee, #ccc, #ddd, #bbb);
  }

  &.trmrk-scrollable {
    @include scrollable(#eee, #ccc, #ddd, #bbb);
  }

  .trmrk-resizable-panel.trmrk-border-alpha-25 {
    @include resizable-panel-colors(#00000044);
  }

  .trmrk-resizable-panel.trmrk-border-alpha-50 {
    @include resizable-panel-colors(#00000088);
  }
}

.trmrk-theme-dark {
  .trmrk-app-bar-toggle-icon {
    background-image: linear-gradient(rgba(255, 255, 255, 0.09), rgba(255, 255, 255, 0.09));
    background-color: #121212;
  }

  .trmrk-textarea-autosize {
    background-color: inherit;
    color: white;
  }

  &.trmrk-page-panel {
    .trmrk-flex-rows-group {
      border: 1px solid #444;

      &.trmrk-editable {
        border: 2px solid #642;
      }

      &:hover {
        background-color: #1a1a1a;
      }
    }

    .trmrk-flex-row {
      .trmrk-cell {
        .trmrk-title {
          color: #ccc;
        }

        .trmrk-readonly {
          background:
            linear-gradient(#FFF0, #FFF1, #FFF0);
        }
      }
    }
  }

  &.trmrk-textbox-magnifier {
    .trmrk-text {
      border: 1px solid #888;
    }
  }
}

.trmrk-theme-light {
  .trmrk-app-bar-toggle-icon, .trmrk-app-bar-toggle-icon:hover {
    color: #FFF;
    background-color: #1976d2;
  }

  .trmrk-textarea-autosize {
    background-color: inherit;
    color: inherit;
  }

  &.trmrk-page-panel {
    .trmrk-flex-rows-group {
      border: 1px solid #ccc;

      &.trmrk-editable {
        border: 2px solid #864;
      }

      &:hover {
        background-color: #F4F4F4;
      }
    }

    .trmrk-flex-row {
      .trmrk-cell {
        .trmrk-title {
          color: #444;
        }

        .trmrk-readonly {
          background: linear-gradient(#0000, #0001, #0000);
        }
      }
    }
  }

  &.trmrk-textbox-magnifier {
    .trmrk-text {
      border: 1px solid #888;
    }
  }
}

.trmrk-theme-dark .trmrk-text-caret-positioner {
  .trmrk-unwrap-text-btn {
    background-color: #333;
  }
}

.trmrk-theme-light .trmrk-text-caret-positioner {
  .trmrk-unwrap-text-btn {
    background-color: #ddd;
  }
}

.trmrk-theme-dark.trmrk-text-input-caret-positioner-popover {
  background-image: linear-gradient(rgba(255, 255, 255, 0.09), rgba(255, 255, 255, 0.09));
  background-color: #121212;
}

.trmrk-theme-light.trmrk-text-input-caret-positioner-popover {
  background-color: #1976d2;
}
