.trmrk-app-theme-light .trmrk-item-archive {
  background-color: #EEF;
  border-color: #DDE;
}

.trmrk-app-theme-light .trmrk-item-archive.trmrk-is-checked {
  background-color: #CCD;
  border-color: #BBC;
}

.trmrk-app-theme-light .trmrk-item-primary-section {
  background-color: #EFF;
  border-color: #DEE;
}

.trmrk-app-theme-light .trmrk-item-primary-section.trmrk-is-checked {
  background-color: #CDD;
  border-color: #BCC;
}

.trmrk-app-theme-light .trmrk-item-secondary-section {
  background-color: #EFE;
  border-color: #CDC;
}

.trmrk-app-theme-light .trmrk-item-secondary-section.trmrk-is-checked {
  background-color: #CDC;
  border-color: #ABA;
}

.trmrk-app-theme-light .trmrk-item-ternary-section {
  background-color: #FFE8FF;
  border-color: #EFD8EF;
}

.trmrk-app-theme-light .trmrk-item-ternary-section.trmrk-is-checked {
  background-color: #DFC8DF;
  border-color: #DFB8DF;
}

.trmrk-app-theme-light .trmrk-item-note {
  background-color: #FFF0E0;
  border-color: #EFE0D0;
}

.trmrk-app-theme-light .trmrk-item-note.trmrk-is-checked {
  background-color: #DFD0C0;
  border-color: #CFC0B0;
}

.trmrk-app-theme-light .trmrk-item-folder {
  background-color: #F8F8E8;
  border-color: #E8E8D8;
}

.trmrk-app-theme-light .trmrk-item-folder.trmrk-is-checked {
  background-color: #D8D8C8;
  border-color: #C8C8B8;
}

.trmrk-app-theme-light .trmrk-item-file {
  background-color: #FFF;
  border-color: #EEE;
}

.trmrk-app-theme-light .trmrk-item-file.trmrk-is-checked {
  background-color: #DDD;
  border-color: #CCC;
}

.trmrk-app-theme-dark .trmrk-item-archive {
  background-color: #001;
  border-color: #002;
}

.trmrk-app-theme-dark .trmrk-item-archive.trmrk-is-checked {
  background-color: #223;
  border-color: #334;
}

.trmrk-app-theme-dark .trmrk-item-primary-section {
  background-color: #011;
  border-color: #122;
}

.trmrk-app-theme-dark .trmrk-item-primary-section.trmrk-is-checked {
  background-color: #233;
  border-color: #344;
}

.trmrk-app-theme-dark .trmrk-item-secondary-section {
  background-color: #121;
  border-color: #232;
}

.trmrk-app-theme-dark .trmrk-item-secondary-section.trmrk-is-checked {
  background-color: #343;
  border-color: #454;
}

.trmrk-app-theme-dark .trmrk-item-ternary-section {
  background-color: #1F081F;
  border-color: #2F182F;
}

.trmrk-app-theme-dark .trmrk-item-ternary-section.trmrk-is-checked {
  background-color: #3F283F;
  border-color: #4F384F;
}

.trmrk-app-theme-dark .trmrk-item-note {
  background-color: #1F1000;
  border-color: #2F2010;
}

.trmrk-app-theme-dark .trmrk-item-note.trmrk-is-checked {
  background-color: #3F3020;
  border-color: #4F4030;
}

.trmrk-app-theme-dark .trmrk-item-folder {
  background-color: #181808;
  border-color: #282818;
}

.trmrk-app-theme-dark .trmrk-item-folder.trmrk-is-checked {
  background-color: #383828;
  border-color: #484838;
}

.trmrk-app-theme-dark .trmrk-item-file {
  background-color: #000;
  border-color: #111;
}

.trmrk-app-theme-dark .trmrk-item-file.trmrk-is-checked {
  background-color: #222;
  border-color: #333;
}
