@page "/file-explorer"
@using Turmerik.Core.DriveExplorer

@inject IDriveExplorerService DriveExplorerService;

@code {
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            
        }
    }
}

<h1>FileExplorer</h1>
