@import "./_variables";

@mixin trmrk-tree-node-color($color) {
  > .trmrk-tree-node-content {
    > .trmrk-tree-node-icon {
      > .trmrk-icon {
        color: $color;
      }
    }

    > .trmrk-tree-node-toggle-icon {
      color: $color;
    }

    > .trmrk-tree-node-label {
      border: 2px solid $color;
    }
  }

  &.trmrk-current-item {
    > .trmrk-tree-node-content {
      > .trmrk-tree-node-label {
        background-color: $color;
        color: white;
      }
    }
  }

  &.trmrk-tree-node-expanded::before {
    background-color: $color;
  }
}

@mixin wrap-content() {
  flex-wrap: wrap;
  text-wrap: wrap;
  word-break: keep-all;
  white-space-collapse: collapse;
  line-break: auto;
}

@mixin no-wrap-anywhere() {
  flex-wrap: nowrap;
  text-wrap: nowrap;
  word-break: keep-all;
  white-space-collapse: preserve;
  line-break: auto;
}

@mixin no-wrap() {
  flex-wrap: wrap;
  text-wrap: nowrap;
  word-break: keep-all;
  white-space-collapse: preserve;
  line-break: anywhere;
}

@mixin height-rows() {
  &.trmrk-height-rows-x0 { height: 0em; }
  &.trmrk-height-rows-x1 { height: 2.5em; }
  &.trmrk-height-rows-x2 { height: 5em; }
  &.trmrk-height-rows-x3 { height: 7.5em; }
  &.trmrk-height-rows-x4 { height: 10em; }
  &.trmrk-height-rows-x5 { height: 12.5em; }
  &.trmrk-height-rows-x6 { height: 15em; }
  &.trmrk-height-rows-x7 { height: 17.5em; }
  &.trmrk-height-rows-x8 { height: 20em; }
  &.trmrk-height-rows-x9 { height: 22.5em; }
  &.trmrk-height-rows-x10 { height: 25em; }
  &.trmrk-height-rows-x11 { height: 27.5em; }
  &.trmrk-height-rows-x12 { height: 30em; }
  &.trmrk-height-rows-x13 { height: 32.5em; }
  &.trmrk-height-rows-x14 { height: 35em; }
  &.trmrk-height-rows-x15 { height: 37.5em; }
  &.trmrk-height-rows-x16 { height: 40em; }
  &.trmrk-height-rows-x17 { height: 42.5em; }
  &.trmrk-height-rows-x18 { height: 45em; }
  &.trmrk-height-rows-x19 { height: 47.5em; }
  &.trmrk-height-rows-x20 { height: 50em; }
}

@mixin padding-top-rows() {
  &.trmrk-padding-top-rows-x0 { padding-top: 0em; }
  &.trmrk-padding-top-rows-x1 { padding-top: 2.5em; }
  &.trmrk-padding-top-rows-x2 { padding-top: 5em; }
  &.trmrk-padding-top-rows-x3 { padding-top: 7.5em; }
  &.trmrk-padding-top-rows-x4 { padding-top: 10em; }
  &.trmrk-padding-top-rows-x5 { padding-top: 12.5em; }
  &.trmrk-padding-top-rows-x6 { padding-top: 15em; }
  &.trmrk-padding-top-rows-x7 { padding-top: 17.5em; }
  &.trmrk-padding-top-rows-x8 { padding-top: 20em; }
  &.trmrk-padding-top-rows-x9 { padding-top: 22.5em; }
  &.trmrk-padding-top-rows-x10 { padding-top: 25em; }
  &.trmrk-padding-top-rows-x11 { padding-top: 27.5em; }
  &.trmrk-padding-top-rows-x12 { padding-top: 30em; }
  &.trmrk-padding-top-rows-x13 { padding-top: 32.5em; }
  &.trmrk-padding-top-rows-x14 { padding-top: 35em; }
  &.trmrk-padding-top-rows-x15 { padding-top: 37.5em; }
  &.trmrk-padding-top-rows-x16 { padding-top: 40em; }
  &.trmrk-padding-top-rows-x17 { padding-top: 42.5em; }
  &.trmrk-padding-top-rows-x18 { padding-top: 45em; }
  &.trmrk-padding-top-rows-x19 { padding-top: 47.5em; }
  &.trmrk-padding-top-rows-x20 { padding-top: 50em; }
}

@mixin padding-bottom-rows() {
  &.trmrk-padding-bottom-rows-x0 { padding-bottom: 0em; }
  &.trmrk-padding-bottom-rows-x1 { padding-bottom: 2.5em; }
  &.trmrk-padding-bottom-rows-x2 { padding-bottom: 5em; }
  &.trmrk-padding-bottom-rows-x3 { padding-bottom: 7.5em; }
  &.trmrk-padding-bottom-rows-x4 { padding-bottom: 10em; }
  &.trmrk-padding-bottom-rows-x5 { padding-bottom: 12.5em; }
  &.trmrk-padding-bottom-rows-x6 { padding-bottom: 15em; }
  &.trmrk-padding-bottom-rows-x7 { padding-bottom: 17.5em; }
  &.trmrk-padding-bottom-rows-x8 { padding-bottom: 20em; }
  &.trmrk-padding-bottom-rows-x9 { padding-bottom: 22.5em; }
  &.trmrk-padding-bottom-rows-x10 { padding-bottom: 25em; }
  &.trmrk-padding-bottom-rows-x11 { padding-bottom: 27.5em; }
  &.trmrk-padding-bottom-rows-x12 { padding-bottom: 30em; }
  &.trmrk-padding-bottom-rows-x13 { padding-bottom: 32.5em; }
  &.trmrk-padding-bottom-rows-x14 { padding-bottom: 35em; }
  &.trmrk-padding-bottom-rows-x15 { padding-bottom: 37.5em; }
  &.trmrk-padding-bottom-rows-x16 { padding-bottom: 40em; }
  &.trmrk-padding-bottom-rows-x17 { padding-bottom: 42.5em; }
  &.trmrk-padding-bottom-rows-x18 { padding-bottom: 45em; }
  &.trmrk-padding-bottom-rows-x19 { padding-bottom: 47.5em; }
  &.trmrk-padding-bottom-rows-x20 { padding-bottom: 50em; }
}
