@import "./_mixins";

body, #app-root {
  height: 100vh;
  overflow: hidden;
}

.trmrk-wrap-content {
  @include wrap-content();
}

.trmrk-icons-menu-list {
  padding: 0.1em 0.5em;
}

.MuiCheckbox-root.trmrk-checkbox {
  border-radius: 3px;
}

.trmrk-btn.trmrk-btn-text {
  color: white;
}

.trmrk-btn.trmrk-btn-text.trmrk-btn-text-primary {
  background-color: #00F;
}

.trmrk-panel {
  width: 100%;

  .trmrk-pinned-top-bar-bg-spacer {
    display: block;
    position: relative;
    height: 2.5em;
    width: 100%;
  }

  .trmrk-pinned-top-bar {
    display: flex;
    position: fixed;
    width: 100%;
    padding-left: 0.2em;
    cursor: pointer;
    z-index: 1;
  }
}

.trmrk-app-bar .trmrk-page-title {
  display: inline-flex;
  text-align: center;
  font-size: 1.5em;
  position: relative;
  top: 0.25em;
}
