@import "./_mixins";

body, #app-root {
  height: 100vh;
  overflow: hidden;
}

.trmrk-wrap-content {
  @include wrap-content();
}

.trmrk-icons-menu-list {
  padding: 0.1em 0.5em;
}

.trmrk-full-width {
  width: 100%;
}

.trmrk-full-height {
  height: 100%;
}

.trmrk-app-bar-toggle-icon {
  position: "fixed";
  right: "0px";
  color: "white";
  z-index: 1101;

  &.trmrk-toggles-header {
    top: 0px;
  }

  &.trmrk-toggles-footer {
    bottom: 0px;
  }
}

.trmrk-dialog-content {
  padding: 0;
  display: "block";
  position: "absolute";
  inset: 0;
}

.MuiCheckbox-root.trmrk-checkbox {
  border-radius: 3px;
}

.trmrk-btn.trmrk-btn-text {
  color: white;
}

.trmrk-btn.trmrk-btn-text.trmrk-btn-text-primary {
  background-color: #00F;
}

.trmrk-panel {
  width: 100%;

  .trmrk-pinned-top-bar-bg-spacer {
    display: block;
    position: relative;
    height: 2.5em;
    width: 100%;
  }

  .trmrk-pinned-top-bar {
    display: flex;
    position: fixed;
    width: 100%;
    padding-left: 0.2em;
    cursor: pointer;
    z-index: 1;
  }
}

.trmrk-app-bar .trmrk-page-title {
  display: inline-flex;
  text-align: center;
  font-size: 1.5em;
  position: relative;
  top: 0.25em;
  padding-left: 0.25em
}

.trmrk-block {
  display: block;
}

.trmrk-horiz-padded {
  padding-left: 1em;
  padding-right: 1em;
}

.trmrk-vert-padded {
  padding-top: 1em;
  padding-bottom: 1em;
}

.trmrk-is-full-viewport {
  width: 100vw;
  height: 100vh;
}
