@using Turmerik.Utility.BlazorServerApp.Components.Pages.TextUtils

<div style="display:flex; flex-direction:column; gap:12px;">
    <FetchWebResource />
    <TextToMd />
    <NameToIdnfConverter />
    <PathConverter />
    <TextLineConvert />
</div>
