@use "./variables";
@use "./mixins.scss" as mixins;

@font-face {
    font-family: 'Roboto';
    src: url('/TypeFaces/Roboto/Roboto-Regular.ttf');
}

html {
  height: 100%;
}

body {
  font-family: "Roboto", "Arial";
  height: 100%;
  margin: 0;
  padding: 0;
  position: relative;
}

#root {
  height: 100vh;
}

.trmrk-error {
  color: #a20;
}

.trmrk-wrap-content {
  flex-wrap: wrap;
  text-wrap: wrap;
  word-break: keep-all;
  white-space-collapse: collapse;
  line-break: auto;
}

.trmrk-no-wrap-anywhere {
  flex-wrap: nowrap;
  text-wrap: nowrap;
  word-break: keep-all;
  white-space-collapse: preserve;
  line-break: auto;
}

.trmrk-no-wrap {
  flex-wrap: wrap;
  text-wrap: nowrap;
  word-break: keep-all;
  white-space-collapse: preserve;
  line-break: anywhere;
}

.trmrk-scrollable::-webkit-scrollbar {
  width: 15px;
}

.trmrk-scrollable::-webkit-scrollbar-thumb {
  cursor: grabbing;
}

[data-bs-theme=dark] .trmrk-scrollable,
.trmrk-app-theme-dark .trmrk-scrollable,
.trmrk-app-theme-dark.trmrk-scrollable {
  @include mixins.scrollable(
    var(--trmrk-scrollable-track_color_dark),
    var(--trmrk-scrollable-thumb_color_dark),
    var(--trmrk-scrollable-track-hover_color_dark),
    var(--trmrk-scrollable-thumb-hover_color_dark));
}

[data-bs-theme=light] .trmrk-scrollable,
.trmrk-app-theme-light .trmrk-scrollable,
.trmrk-app-theme-light.trmrk-scrollable {
  @include mixins.scrollable(
    var(--trmrk-scrollable-track_color_light),
    var(--trmrk-scrollable-thumb_color_light),
    var(--trmrk-scrollable-track-hover_color_light),
    var(--trmrk-scrollable-thumb-hover_color_light));
}
