@import "./_mixins";

body {
  height: 100vh;
}

#app-root {
  height: 100%;
}

.trmrk-app, .trmrk-app-error, .trmrk-app-loading {
  width: 100%;
  height: 100%;
}

.trmrk-error {
  text-align: center;

  > h2 {
    color: orangered;
  }
}

.trmrk-app {
  .trmrk-app-nav-bar {
    .trmrk-app-bar {
      .MuiGrid-root > .MuiButtonBase-root.MuiIconButton-root.MuiIconButton-sizeMedium {
        color: white;
      }
    }
  }
}
