.trmrk-parent-interceptor {
  position: relative;
  display: inline-block;
  background-color: #0000;
  width: 100%;
  height: 0px;
  overflow: show;

  > .trmrk-interceptor-inserted {
    display: block;
    position: absolute;
    width: 100%;
  }
}

.btn > .trmrk-parent-interceptor > .trmrk-interceptor-inserted {
  top: -9px;
  left: -13px;
  height: 40px;
  width: calc(100% + 26px);
  border-radius: 5px;
}

.trmrk-bs-btn {
  display: inline-flex;
  position: relative;

  &.trmrk-btn-no-border {
    border: 0;
  }

  padding-top: 0.5rem;
}

.trmrk-bs-icon-btn {
  width: 40px;
}

[data-bs-theme=light] {
  .trmrk-bs-btn {
    border-color: #888;
  }

  &[disabled] {
    border-color: #ccc;
  }
}

[data-bs-theme=dark] {
  .trmrk-bs-btn {
    border-color: #888;
  }

  &[disabled] {
    border-color: #444;
  }
}

.trmrk-navbar {
  padding: 0px;
  justify-content: unset;
}

.trmrk-navbar-large {
  padding: 8px;
}

.trmrk-error-page {
  .trmrk-caption {
    font-size: 1.5rem;
    font-weight: 500;
    color: red;
  }
}

.trmrk-panel {
  /* border: 1px solid #888; */
}

.trmrk-app-layout {
  height: 100%;
  display: grid;

  &.trmrk-has-header {
    grid-template-rows: 40px auto;
  }

  &.trmrk-has-footer {
    grid-template-rows: auto 40px;
  }

  &.trmrk-has-header.trmrk-has-footer {
    grid-template-rows: 40px auto 40px;
  }

  .trmrk-app-body {
    height: 100%;

    &.trmrk-is-split {
      display: grid;
      grid-template-columns: 33% auto;
    }

    > .trmrk-panel {
      width: 100%;
      height: 100%;
    }
  }

  .trmrk-spilt-container {
    width: 100%;
    height: 100%;

    display: grid;

    &.trmrk-vertically-split-container {
      grid-template-columns: 50% auto;

      > .trmrk-first-panel {
        grid-column: 1;
      }
      
      > .trmrk-second-panel {
        grid-column: 2;
      }
    }

    &.trmrk-horizontally-split-container {
      grid-template-rows: 50% auto;

      > .trmrk-first-panel {
        grid-row: 1;
      }
      
      > .trmrk-second-panel {
        grid-row: 2;
      }
    }
  }

  .trmrk-panels-container {
    width: 100%;
    height: 100%;

    .trmrk-single-panel {
      width: 100%;
      height: 100%;
    }
  }

  .trmrk-app-header {
    > .trmrk-navbar {
      display: grid;
    }

    > .trmrk-app-header-has-0-btns {
      grid-template-columns: auto;
    }
    
    > .trmrk-app-header-has-1-btns {
      grid-template-columns: 42px auto;
    }
    
    > .trmrk-app-header-has-2-btns {
      grid-template-columns: repeat(2, 42px) auto;
    }
    
    > .trmrk-app-header-has-3-btns {
      grid-template-columns: repeat(3, 42px) auto;
    }
    
    > .trmrk-app-header-has-4-btns {
      grid-template-columns: repeat(4, 42px) auto;
    }
  }

  .trmrk-app-footer {
    > .trmrk-navbar {
      display: grid;
    }

    > .trmrk-app-footer-has-0-btns {
      grid-template-columns: auto;
    }
    
    > .trmrk-app-footer-has-1-btns {
      grid-template-columns: 42px auto;
    }
    
    > .trmrk-app-footer-has-2-btns {
      grid-template-columns: repeat(2, 42px) auto;
    }
    
    > .trmrk-app-footer-has-3-btns {
      grid-template-columns: repeat(3, 42px) auto;
    }
    
    > .trmrk-app-footer-has-4-btns {
      grid-template-columns: repeat(4, 42px) auto;
    }
  }
}

.trmrk-action-list-group-item {
  padding: 0px;
  cursor: pointer;

  .trmrk-label {
    padding: 0.6em 0em 0em 1em;
    display: inline-flex;
  }

  .trmrk-bs-icon-btn {
    position: relative;
    top: -1px;
  }

  .trmrk-icon-link {
    display: inline-block;
    width: 100%;
    height: 100%;
  }
}

.trmrk-form-label,
.trmrk-form-check-label {
  cursor: pointer;

  .trmrk-form-check-input {
    cursor: pointer;
  }

  .trmrk-label {
    padding: 0em 0em 0em 0.6em;
    display: inline-flex;
  }
}
