.trmrk-parent-interceptor {
  position: relative;
  display: inline-block;
  background-color: #0000;
  width: 100%;
  height: 0px;
  overflow: show;

  > .trmrk-interceptor-inserted {
    display: block;
    position: absolute;
    width: 100%;
  }
}

.btn > .trmrk-parent-interceptor > .trmrk-interceptor-inserted {
  top: -9px;
  left: -13px;
  height: 40px;
  width: calc(100% + 26px);
  border-radius: 5px;
}

.trmrk-bs-btn {
  display: inline-flex;
  position: relative;
  height: 38px;

  &.trmrk-btn-no-border {
    border: 0;
  }
}

.trmrk-bs-icon-btn {
  width: 40px;
}

[data-bs-theme=light] {
  .trmrk-bs-btn {
    border-color: #888;
  }

  &[disabled] {
    border-color: #ccc;
  }
}

[data-bs-theme=dark] {
  .trmrk-bs-btn {
    border-color: #888;
  }

  &[disabled] {
    border-color: #444;
  }
}

.trmrk-navbar {
  padding: 0px;
}

.trmrk-navbar-large {
  padding: 8px;
}

.trmrk-basic-page {
  .trmrk-h2 {
    font-size: 1.5rem;
    font-weight: 500;
  }
}

.trmrk-panel {
  /* border: 1px solid #888; */
}

.trmrk-app-layout {
  height: 100%;

  .trmrk-app-body {
    height: 100%;

    &.trmrk-is-split {
      display: grid;
      grid-template-columns: 33% auto;
    }

    > .trmrk-panel {
      width: 100%;
      height: 100%;
    }
  }

  .trmrk-spilt-container {
    width: 100%;
    height: 100%;

    display: grid;

    &.trmrk-vertically-split-container {
      grid-template-columns: 50% auto;

      > .trmrk-first-panel {
        grid-column: 1;
      }
      
      > .trmrk-second-panel {
        grid-column: 2;
      }
    }

    &.trmrk-horizontally-split-container {
      grid-template-rows: 50% auto;

      > .trmrk-first-panel {
        grid-row: 1;
      }
      
      > .trmrk-second-panel {
        grid-row: 2;
      }
    }
  }

  .trmrk-panels-container {
    width: 100%;
    height: 100%;

    .trmrk-single-panel {
      width: 100%;
      height: 100%;
    }
  }
}
