<div [ngClass]="['trmrk-app-bar', trmrkCssClass ?? '']">
  <a
    mat-icon-button
    class="trmrk-icon-btn"
    [routerLink]="trmrkHomeRouterLink ?? appConfigService.routeBasePath"
    aria-label="Home"
  >
    @if (trmrkLeadingIconTemplate) {
    <ng-container *ngTemplateOutlet="trmrkLeadingIconTemplate"></ng-container>
    } @if (!trmrkLeadingIconTemplate) {
    <mat-icon class="trmrk-icon trmrk-home-icon">home</mat-icon>}
  </a>

  @if (trmrkShowBackBtn ?? appStateService.showBackBtnByDefault) {
  <button
    mat-icon-button
    class="trmrk-icon-btn"
    (click)="backBtnClicked($event)"
    [disabled]="backBtnDisabled"
  >
    <mat-icon class="trmrk-icon">arrow_back</mat-icon>
  </button>
  } @if (trmrkShowGoToParentBtn ?? appStateService.showGoToParentBtnByDefault) {
  <button
    mat-icon-button
    class="trmrk-icon-btn"
    (click)="goToParentBtnClicked($event)"
    [disabled]="trmrkGoToParentBtnDisabled ?? false"
  >
    <mat-icon class="trmrk-icon">arrow_upward</mat-icon>
  </button>
  }

  <ng-container *ngTemplateOutlet="trmrkBeforeTitleTemplate"></ng-container>
  <h1 class="trmrk-page-title" #pageTitle>{{trmrkTitle}}</h1>

  @if (trmrkTrailingTemplate) {
  <ng-container *ngTemplateOutlet="trmrkTrailingTemplate"></ng-container>
  }
</div>
