<trmrk-app-page [trmrkAppBarTitle]="'Ininite height panel'"
  ><trmrk-horiz-strip
    [trmrkCssClass]="['trmrk-has-border-x2 trmrk-top-horiz-strip']"
    [trmrkUseContentInsteadOfTextRow]="true"
    ><button class="trmrk-icon-btn" mat-icon-button (click)="editParamsClicked()">
      <mat-icon class="trmrk-icon">edit</mat-icon>
    </button></trmrk-horiz-strip
  >
  <div class="trmrk-page-body trmrk-scrollable trmrk-scrollable-y">
    @for (item of items; track item.idx) {
    <h1>{{ item.text }}</h1>
    }
  </div>
  <trmrk-infinite-height-panel-scroll-bar
    (trmrkScrolled)="scrolled($event)"
  ></trmrk-infinite-height-panel-scroll-bar
  ><trmrk-horiz-strip
    [trmrkCssClass]="['trmrk-has-border-x2 trmrk-bottom-horiz-strip']"
    [trmrkUseContentInsteadOfTextRow]="true"
  >
    <trmrk-infinite-height-panel-scroll-control></trmrk-infinite-height-panel-scroll-control></trmrk-horiz-strip
></trmrk-app-page>
