<trmrk-app-page [trmrkAppBarTitle]="'Ininite height panel'"
  ><trmrk-horiz-strip
    [trmrkCssClass]="['trmrk-has-border-x2 trmrk-top-horiz-strip']"
    [trmrkUseContentInsteadOfTextRow]="true"
    ><button class="trmrk-icon-btn" mat-icon-button (click)="editParamsClicked()">
      <mat-icon class="trmrk-icon">edit</mat-icon>
    </button></trmrk-horiz-strip
  >
  <div
    [ngClass]="[
      'trmrk-page-body trmrk-scrollable trmrk-scrollable-y',
      service.scrollControlIsExpanded ? 'trmrk-has-infinite-height-scroll-bar' : ''
    ]"
  >
    @for (item of items; track item.idx) {
    <h1 [ngStyle]="{ backgroundColor: item.backColor }">{{ item.text }}</h1>
    }
  </div>
  <trmrk-infinite-height-panel-scroll-bar
    [ngClass]="[service.scrollControlIsExpanded ? '' : 'trmrk-hidden']"
    (trmrkScrolled)="scrolled($event)"
    (trmrkNewContentRequested)="newContentRequested($event)"
  ></trmrk-infinite-height-panel-scroll-bar>
  <trmrk-horiz-strip
    [trmrkCssClass]="['trmrk-has-border-x2 trmrk-bottom-horiz-strip']"
    [trmrkUseContentInsteadOfTextRow]="true"
  >
    <trmrk-infinite-height-panel-scroll-control
      [ngClass]="[service.requiresActualScroll ? '' : 'trmrk-hidden']"
      [trmrkAppSettingsChoicesCatKey]="appSettingsChoicesCatKey"
    ></trmrk-infinite-height-panel-scroll-control></trmrk-horiz-strip
></trmrk-app-page>
