:root {
  /* --trmrk-app-bar_background-color_light: #ddbbff;
  // --trmrk-top-horiz-strip_border-color-light: #ccaaee;
  --trmrk-top-horiz-strip_border-color-light: #eeccff;

  --trmrk-app-bar_background-color_dark: #220033;
  // --trmrk-top-horiz-strip_border-color-dark: #330044;
  --trmrk-top-horiz-strip_border-color-dark: #110022; */

  --trmrk-app-bar_background-color_light: #ffe000;
  --trmrk-top-horiz-strip_border-color-light: #f0d000;
  --trmrk-app-bar_background-color_dark: #200800;
  --trmrk-top-horiz-strip_border-color-dark: #301000;
}

.trmrk-app-theme-light {
  .trmrk-app-icon {
    stroke: #44F;
    fill: #44F;
  }

  .trmrk-app-bar {
    background-color: var(--trmrk-app-bar_background-color_light);
  }

  .trmrk-top-message-horiz-strip,
  .trmrk-top-horiz-strip,
  .trmrk-bottom-horiz-strip {
    background-color: var(--trmrk-app-bar_background-color_light);

    &.trmrk-has-border-x2, &.trmrk-has-border-x1 {
      border-color: var(--trmrk-top-horiz-strip_border-color-light);
    }
  }

  .trmrk-3-panels-layout {
    > .trmrk-app-panel {
      > .trmrk-panel-resize-strip {
        background-color: var(--trmrk-app-bar_background-color_light);
      }
    }
  }
}

.trmrk-app-theme-dark {
  .trmrk-app-bar {
    background-color: var(--trmrk-app-bar_background-color_dark);
  }

  .trmrk-top-message-horiz-strip,
  .trmrk-top-horiz-strip,
  .trmrk-bottom-horiz-strip {
    background-color: var(--trmrk-app-bar_background-color_dark);

    &.trmrk-has-border-x2, &.trmrk-has-border-x1 {
      border-color: var(--trmrk-top-horiz-strip_border-color-dark);
    }
  }

  .trmrk-3-panels-layout {
    > .trmrk-app-panel {
      > .trmrk-panel-resize-strip {
        background-color: var(--trmrk-app-bar_background-color_dark);
      }
    }
  }
}
