.trmrk-container {
  padding-top: 1em;
  padding-left: 10%;
  padding-right: 10%;
}

.trmrk-container h1 {
  text-align: center;
}

.trmrk-warning {
  color: #FF0000;
  cursor: pointer;
}

@media screen and (min-resolution: 192dpi) and (orientation: portrait) {
  html {
    font-size: 3em;
  }
  
  .trmrk-container {
    padding-left: 0.5em;
    padding-right: 0.5em;
  }
}
