html {
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
  padding: 0;
  position: relative;
}

#app {
  height: 100%;
}

.trmrk-error {
  color: #a20;
}

.trmrk-hidden {
  display: none;
}

.trmrk-overflow-hidden {
  overflow: hidden;
}

.trmrk-display-flex {
  display: flex;
}

.trmrk-display-inline-flex {
  display: inline-flex;
}

.trmrk-align-self-flex-end {
  align-self: flex-end;
}

.trmrk-wrap-content {
  flex-wrap: wrap;
  text-wrap: wrap;
  word-break: keep-all;
  white-space-collapse: collapse;
  line-break: auto;
}

.trmrk-no-wrap-anywhere {
  flex-wrap: nowrap;
  text-wrap: nowrap;
  word-break: keep-all;
  white-space-collapse: preserve;
  line-break: auto;
}

.trmrk-no-wrap {
  flex-wrap: wrap;
  text-wrap: nowrap;
  word-break: keep-all;
  white-space-collapse: preserve;
  line-break: anywhere;
}

.trmrk-btn-link {
  width: 40px;
  height: 40px;
  padding: 0px;
}

.trmrk-btn-link-xl {
  width: 80px;
  height: 80px;
  padding: 0px;
}
