@page

@using Turmerik.Core.Helpers
@using Turmerik.OneDriveExplorer.AspNetCore.WebApp.AppConfig
@using Turmerik.OneDriveExplorer.AspNetCore.WebApp.Pages

@model ExplorerModel
@inject IAppSettings appSettings;

@{
    ViewData["Title"] = "Explorer";
    string appSettingsJson = JsonSrlzH.ToJson(appSettings);
}

@section Scripts {
    <script>
        window["trmrkDOMContentLoaded"] = () => {
            let username = "@User.Identity?.Name";
            console.log("Initializing app for user " + username);

            window.trmrk.driveExplorer.init(
                username,
                @Html.Raw(appSettingsJson));
        }
    </script>

    <script src="~/js/pages/explorerPage.js" asp-append-version="true" type="module"></script>
}

@using System.Security.Principal

@if (User.Identity?.IsAuthenticated == true)
{
    <h2>@ViewData["Title"]</h2>
}
else
{
}