@page

@using Turmerik.OneDriveExplorer.AspNetCore.WebApp.Pages

@model ExplorerModel

@{
    ViewData["Title"] = "Explorer";
}

@section Scripts {
    <script src="~/js/pages/explorer.js" asp-append-version="true" type="module"></script>
}

@using System.Security.Principal

@if (User.Identity?.IsAuthenticated == true)
{
    <h1>@ViewData["Title"]</h1>
}
else
{
}