@page

@using Turmerik.Core.Helpers
@using Turmerik.OneDriveExplorer.AspNetCore.WebApp.AppConfig
@using Turmerik.OneDriveExplorer.AspNetCore.WebApp.Pages

@model ExplorerModel
@inject IAppSettings appSettings;

@{
    ViewData["Title"] = "Explorer";
    string appSettingsJson = JsonSrlzH.ToJson(appSettings);
}

@section Scripts {
    <script src="~/js/pages/explorer.js" asp-append-version="true" type="module"></script>

    <script>
document.addEventListener('DOMContentLoaded', () => {
    let username = "@User.Identity?.Name";

    window.Trmrk.driveExplorer.init(
        username,
        @Html.Raw(appSettingsJson));
}, false);
    </script>
}

@using System.Security.Principal

@if (User.Identity?.IsAuthenticated == true)
{
    <h1>@ViewData["Title"]</h1>
}
else
{
}